body {
    overflow-x: hidden;
}

select.custom {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.custom::-ms-expand {
    display: none;
}

.pointer {
    cursor: pointer;
}

#frmTicket textarea {
    height: 100px;
}

.bootstrap-tagsinput {
    width: 100% !important;
    overflow-y: auto !important;
}

.bootstrap-tagsinput .tag.tagClass {
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
    color: white;
    background-color: #0097d2;
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.bootstrap-tagsinput .tag.tagClass [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .tag.tagClass [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.bootstrap-tagsinput .tag.tagClass [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag.tagClass [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.logo {
    height: 30px;
    margin-top: -7px;
}

.page-header {
    margin-top: 0px !important
}

.fa-rotate-45 {
    -ms-transform: rotate(45deg);
    /* Internet Explorer 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    /* Standard syntax */
}

.timeline-footing {
    margin-top: 10px;
}

div.panel-footer.input {
    height: 156px !important;
}

hr {
    margin: 0px;
    margin-bottom: 10px;
}

.scotch-panel-right {
    background-color: #f8f8f8;
    border-color: #e7e7e7 !important;
    border-left: 1px;
    border-style: solid;
    border-top-style: none;
    padding-right: 20px;
    padding-left: 20px;
}

.table-custom {
	margin-top:6px;
	margin-bottom:6px;
}

/* datatables changes */
.fa-download{
    color: #09a0d7;
}

a.dt-button {
	border: 0px !important;
}

#tblReport_length {
	float: right;
}

.dataTables_wrapper .dataTables_paginate {
	float: none !important;
	text-align: center !important;
}

/* for intl telephone dropdown plugin */
.iti-flag {background-image: url("/assets/plugins/int-tel-input/img/flags.png");}
.intl-tel-input { width: 100%; }
