{extends file='common/admin.tpl'}

{block name='css'}
<!-- DataTables CSS -->
<link href="/assets/themes/sb-admin-2/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
{/block}

{block name='page-title'}
	CDR List
{/block}

{block name='page-actions'}
	<div class="btn-group" role="group" aria-label="...">
		<button class="toggle-panel btn btn-primary"><i class="fa fa-filter"></i> Filter</button>
	</div>
{/block}

{block name='body'}
<div class="main-content">
	<div class="inner-content container-fluid">
		<table id="tblReport" class="custom-table display nowrap dataTable dtr-inline collapsed" style="margin-top: 0px !important; width: 100%;">
			<thead>
				<tr>
					<th width="1%"><span>Status</span></th>
					<th class="hide" width="1%"><span>StatusNum</span></th>
					<th width="15%"><span>Agent Name</span></th>
					<th width="15%"><span>Extension</span></th>
					<th><span>Domain</span></th>
				</tr>
			</thead>
			<tbody>
				{section name=x loop=$arrAgents}
				<tr class="cc_agent pointer" data-agent="{$arrAgents[x]['agent_name']}" data-status="{$arrAgents[x]['agent_status']}" data-cc_agent_uuid="{$arrAgents[x]['call_center_agent_uuid']}">
					{if $arrAgents[x]['agent_status'] == "Available"}
						<td class="text-center"><i class="fa fa-circle icon-success"></i></td>
						<td class="hide">1</td>
					{else}
						<td class="text-center"><i class="fa fa-circle icon-danger"></i></td>
						<td class="hide">0</td>
					{/if}
					<td>{$arrAgents[x]['agent_name']}</td>
					<td>{$arrAgents[x]['extension']}</td>
					<td>{$arrAgents[x]['domain_description']}</td>
				</tr>
				{sectionelse}
					<tr><td class='text-center' colspan="9"><span class='h4'>No agents found.</span></td></tr>
				{/section}
			</tbody>
		</table>
	</div>
</div>


{extends file='common/filter.tpl'}


{/block}

{block name='scripts'}
<!-- DataTables JavaScript -->
<script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.responsive.js"></script>
<script src="/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/js/buttons.html5.min.js"></script>

<script>
	$(document).ready(function() {
		$('#tblReport').DataTable({
			responsive: true,
			"dom": 	"<'row'<'col-sm-12'i>>" +
					"<'panel-box'<'panel-box-header'<'row'<'col-sm-6'f><'col-sm-6'<'btn-group dropdown-select'l>>>>" +
					"tr" +
					"<'row'<'col-sm-6'B><'col-sm-6'p>>>",
			"oLanguage": {
		   		"sSearch": 		"",
				"sLengthMenu":	"_MENU_ per page"
		 	},
			"iDisplayLength": 50,
			// Sort Status by hidden column
			"order" : [[0, "desc"]],
			"columnDefs": [
			    { 'orderData':[1], 'targets': [0] },
			    {
			        'targets': [1],
			        'visible': false,
			        'searchable': false
			    },
			],
			buttons: [
				{
		            extend: 'csvHtml5',
		            text: '<i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>',
					filename: 'agent_overview'
		        }
	        ]
		});

		$('.dataTables_filter input').attr("placeholder", "Search");
		$('select[name="tblReport_length"]').removeClass('input-sm').addClass('btn-select').addClass('form-control');
	});

	$(".cc_agent").on("click", function(){
		var row = $(this);

		swal({
				title: row.data('agent')+": "+row.data('status'),
				text: "Are you sure you want to toggle this agents status?",
				type: "warning",
				showCancelButton: true,
				closeOnConfirm: false,
				showLoaderOnConfirm: true,
			},
			function(){
				$.post("/ajax/cc_agent_status.php", { cc_agent_uuid: row.data('cc_agent_uuid') }, function(result){
					var objResult = $.parseJSON(result);

					if(objResult.success == true)
					{
						row.find('.fa-circle').removeClass('icon-danger');
						row.find('.fa-circle').removeClass('icon-success');

						switch(objResult.agent_status) {
							case "Available":
								row.find('.fa-circle').addClass('icon-success');
								break;
							case "Logged Out":
								row.find('.fa-circle').addClass('icon-danger');
								break;
						}

						row.data('status', objResult.agent_status)
					}

					swal("Success", objResult.message, "success");
				});
			});
	});
</script>
{/block}
