{extends file='common/admin.tpl'}

{block name='page-title'}
	Dashboard
{/block}

{block name='body'}
<div class="main-content">

	<div class="inner-content container-fluid">

		<div class="row">

		<div class="col-md-4 col-xs-12">

			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-home fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">{$intLocations}</div>
							<div>Locations</div>
						</div>
					</div>
				</div>
				<a href="/manage_locations.php">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-md-4 col-xs-12">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-newspaper-o fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">{$intOpenTickets}</div>
							<div>Open Tickets</div>
						</div>
					</div>
				</div>
				<a href="/manage_tickets.php">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-md-4 col-xs-12">
			<div class="panel panel-red">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-group fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">{$intUsers}</div>
							<div>Users</div>
						</div>
					</div>
				</div>
				<a href="/manage_users.php">
					<div class="panel-footer">
						<span class="pull-left">View Details</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>

		<br>

		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-green">
					<div class="panel-heading max-height-300">
						<canvas id="registrationsChart" height="500"> </canvas>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="panel panel-green">
					<div class="panel-heading max-height-300">
						<canvas id="myChart" height="500"> </canvas>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
{/block}

{block name='scripts' append}
<script type="text/javascript">

{if $arrCallVolumeData['call_volume']['time'] != "null"}
	var arrCallVolumeTime  		= {$arrCallVolumeData['call_volume']['time']};
	var arrCallVolumeInbound 	= {$arrCallVolumeData['call_volume']['inbound']};
	var arrCallVolumeOutbound	= {$arrCallVolumeData['call_volume']['outbound']};
	var arrCallVolumeLocal		= {$arrCallVolumeData['call_volume']['local']};

	var barData = {
			labels: arrCallVolumeTime,
			datasets: [
				{
					label: 'Inbound',
					backgroundColor: 'rgba(3, 161, 216, .70)',
					borderColor: 'rgba(3, 161, 216, 1)',
					hoverBackgroundColor: 'rgba(25, 160, 215, 1)',
					borderWidth: "1",
					data: arrCallVolumeInbound
				},
				{
					label: 'Outbound',
					backgroundColor: 'rgba(123, 194, 37, .70)',
					borderColor: 'rgba(123, 194, 37, 1)',
					hoverBackgroundColor: 'rgba(123, 194, 37, 1)',
					borderWidth: "1",
					data: arrCallVolumeOutbound
				},
				{
					label: 'Local',
					backgroundColor: 'rgba(148, 212, 246, .70)',
					borderColor: 'rgba(148, 212, 246, 1)',
					hoverBackgroundColor: 'rgba(148, 212, 246, 1)',
					borderWidth: "1",
					data: arrCallVolumeLocal
				}
			]
		};

		var context = document.getElementById('myChart').getContext('2d');
		var clientsChart = new Chart(context, {
			type: 'bar',
			data: barData,
			options: {
				responsive: true,
				maintainAspectRatio: false,
				scaleShowVerticalLines: false,
				scales: {
					xAxes: [{
						display: false
					}]
				}
			}
		});
{/if}

{if !empty($arrRegistrationData)}
	var pieData = {
	    labels: [
	        "Registered",
	        "Unregistered",
	        "Disabled"
	    ],
	    datasets: [
	        {
	            data: [
					{$arrRegistrationData['registered']},
					{$arrRegistrationData['unregistered']},
					{$arrRegistrationData['disabled']}
				],
	            backgroundColor: [
	                "#4da896",
	                "#FFCE56",
	                "#FF0000"
	            ],
	            hoverBackgroundColor: [
	                "#4da896",
	                "#FFCE56",
	                "#FF0000"
	            ]
	        }]
	};

	// For a pie chart
	var ctx = document.getElementById('registrationsChart').getContext('2d');
	var myPieChart = new Chart(ctx,{
	    type: 'pie',
	    data: pieData,
	    options: {
			responsive: true,
			maintainAspectRatio: false
		}
	});
{/if}

</script>
{/block}
