{extends file='common/admin.tpl'}
{block name='page-title'}
	{if $smarty.get.id}Edit{else}Add{/if} User
{/block}

{block name='css'}
<link rel="stylesheet" href="/assets/plugins/int-tel-input/css/intlTelInput.css">
{/block}

{block name='body'}
{if $strError}
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
        <div class="alert alert-danger" role="alert">{$strError}</div>
    </div>
</div>
{/if}

{if $strSuccess}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="alert alert-success" role="alert">{$strSuccess}</div>
    </div>
</div>
{/if}
<div class="main-content">

	<div class="inner-content container-fluid">


		<form method="post" id="frmUser">
			<div class="box-container clearfix">
				<div class="one-half">
					<div class="form-group">
						<label for="number">Number</label>
						<br />
						<input type="text" class="form-control" id="number" name="number" value="{$arrNumber['number_e164']}">
					</div>
				</div>
				<div class="one-half">
					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" class="form-control" id="description" name="description" value="{$arrNumber['description']}" autocomplete="off">
					</div>
				</div>
			</div>
			<input type='hidden' name='country_iso2' value='{$arrNumber['alpha2_code']|default:'us'}' />
		</form>
	</div>
</div>

{/block}

{block name='scripts'}
<script src="/assets/plugins/int-tel-input/js/intlTelInput.js"></script>

<script src="/assets/plugins/maskedinput/jquery.maskedinput.js"></script>
<script src="/assets/plugins/bootstrapValidator/dist/js/bootstrapValidator.js"></script>
<script type='text/javascript'>
$(function() {
	$('.btn-save').click(function(){
		var isValid = $("#number").intlTelInput("isValidNumber");
		if(!isValid) {
			swal("Error",'The number you have entered is not a valid number.', 'error');
			return false;
		}
		
		var number = $("#number").intlTelInput("getNumber", intlTelInputUtils.numberFormat.E164);
		var objDuplicate = $.ajax({
			url: "?action=validate&id={$smarty.get.id}",
			method: "POST",
			data: { number : number },
			async: false
		});

		if(objDuplicate.responseText == 'true') {
			swal("Error",'The number ' + number + ' is already in our system.', 'error');
			return false;
		}

		$('#frmUser').submit();
	});
	$('#number').intlTelInput({
		onlyCountries: {$strCountries},
		utilsScript: "/assets/plugins/int-tel-input/js/utils.js",
		preferredCountries: ["us"],
		separateDialCode: true
	});
	$('#number').intlTelInput("setCountry", "{$arrNumber['alpha2_code']|default:'us'|@strtolower}");
	$("#number").on("countrychange", function(e, countryData) {
		$('[name="country_iso2"]').val(countryData.iso2);
		var isValid = $("#number").intlTelInput("isValidNumber");
		if(!isValid) $("#number").val('');
	});
});
</script>
{literal}
<style type='text/css'>
.intl-tel-input {width: 100%;}
</style>
{/literal}
{/block}
