{extends file='common/admin.tpl'}
{block name='page-title'}
	{if $smarty.get.id}Edit{else}Add{/if} Location
{/block}

{block name='body'}
{if $strError}
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
        <div class="alert alert-danger" role="alert">{$strError}</div>
    </div>
</div>
{/if}

{if $strSuccess}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="alert alert-success" role="alert">{$strSuccess}</div>
    </div>
</div>
{/if}

<div class="main-content">

	<div class="inner-content container-fluid">

		<form method="post" id="frmTicket">

		<div class="box-container clearfix">
			<div class="one-half">
				<div class="form-group">
					<label for="number">Number</label>
					<input type="text" disabled class="form-control" id="number" name="number" value="{$objLocation->number}">
				</div>
			</div>
			<div class="one-half">
				<div class="form-group">
					<label for="isp_name">ISP</label>
					<input type="text" disabled class="form-control" id="isp_name" name="isp_name" value="{$objLocation->isp_name} ({$objLocation->mb_down}/{$objLocation->mb_up}) - {$objLocation->isp_phone1}">
				</div>
			</div>
		</div>

		<div class="box-container clearfix">
			<div class="one-half">
				<div class="form-group">
					<label for="address1">Address 1</label>
					<input type="text" disabled class="form-control" id="address1" name="address1" value="{$objLocation->address1}">
				</div>
			</div>
			<div class="one-half">
				<div class="form-group">
					<label for="address2">Address 2</label>
					<input type="text" disabled class="form-control" id="address2" name="address2" value="{$objLocation->address2}">
				</div>
			</div>
		</div>

		<div class="box-container clearfix">
			<div class="one-third">
				<div class="form-group">
					<label for="city">City</label>
					<input type="text" disabled class="form-control" id="city" name="city" value="{$objLocation->city}">
				</div>
			</div>
			<div class="one-third">
				<div class="form-group">
					<label for="state">State</label>
					<input type="text" disabled class="form-control" id="state" name="state" value="{$objLocation->state}">
				</div>
			</div>
			<div class="one-third">
				<div class="form-group">
					<label for="zip">Zip</label>
					<input type="text" disabled class="form-control" id="zip" name="zip" value="{$objLocation->zip}">
				</div>
			</div>
		</div>

		<div class="box-container clearfix">
			<div class="one-half">
				<div class="form-group">
					<label for="phone1">Phone 1</label>
					<input type="text" disabled class="form-control phone" id="phone1" name="phone1" value="{$objLocation->phone1}">
				</div>
			</div>
			<div class="one-half">
				<div class="form-group">
					<label for="phone2">Phone 2</label>
					<input type="text" disabled class="form-control phone" id="phone2" name="phone2" value="{$objLocation->phone2}">
				</div>
			</div>
		</div>

		</form>

	</div>
</div>
{/block}

{block name='scripts'}
<script src="/assets/plugins/maskedinput/jquery.maskedinput.js"></script>

<script>
	$(document).ready(function() {
		$(".phone").mask("(999) 999-9999");
	});
</script>
{/block}
