{extends file='common/admin.tpl'}

{block name='css'}
<link href="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet">
<link href="/assets/plugins/bootstrapValidator/dist/css/bootstrapValidator.css" rel="stylesheet">

{/block}

{block name='page-title'}
	{if $smarty.get.id}Edit{else}Add{/if} Support Ticket
{/block}
{block name='page-actions'}
	{if $objTicket->number}{$objTicket->number}{/if}
{/block}

{block name='body'}
{if $strError}
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="alert alert-danger" role="alert">{$strError}</div>
	</div>
</div>
{/if} {if $strSuccess}
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="alert alert-success" role="alert">{$strSuccess}</div>
	</div>
</div>
{/if}
<div class="main-content">

	<div class="inner-content container-fluid">

		<form method="post" id="frmTicket">

		{if empty($smarty.get.id)}

		<div class="box-container clearfix">
			<div class="one-half">
				<div class="form-group">
					<label for="name">From</label>
					<input type="text" class="form-control" readonly="readonly" id="name" value="{if $objTicket->address}{$objTicket->address}{else}{$smarty.session.user->email}{/if}">
				</div>
			</div>
			<div class="one-half">
				<div class="form-group">
					<label for="priority">Priority</label>
					<select class="form-control custom pointer" id="priority" name="priority">
						<option value='4' {if $objTicket->priority == '4'}selected="selected"{/if}>Urgent</option>
						<option value='3' {if $objTicket->priority == '3'}selected="selected"{/if}>High</option>
						<option value='2' {if $objTicket->priority == '2' || empty($objTicket->priority)}selected="selected"{/if}>Normal</option>
						<option value='1' {if $objTicket->priority == '1'}selected="selected"{/if}>Low</option>
					</select>
				</div>
			</div>
		</div>

		<div class="box-container clearfix">
			<div class="one-half">
				<div class="form-group">
					<label for="how_long">How long has this been happening?</label>
					<select class="form-control custom pointer" id="how_long" name="how_long">
						<option>More Than A Week</option>
						<option>Past Week</option>
						<option>All Of Today</option>
						<option selected="selected">Past few moments</option>
						<option>Not Applicable</option>
					</select>
				</div>
			</div>
			<div class="one-half">
				<div class="form-group">
					<label for="category">Category</label>
					<select class="form-control custom pointer" id="category" name="category">
						<option value="">Select..</option>
						{section name=x loop=$arrHelpTopics}
						<option value="{$arrHelpTopics[x]->id}">{$arrHelpTopics[x]->topic}</option>
						{/section}
					</select>
				</div>
			</div>
		</div>


		<div class="box-container clearfix">
			<div class="one-half">
				<div class="form-group">
					<label for="locations">Affected Locations</label>
					<input type="text" class="form-control custom pointer" id="locations" name="locations" placeholder="Start Typing Location(s)" autocomplete="off">
				</div>
			</div>
		</div>

		<hr />

		<div class="box-container clearfix">
			<div class="one-half">
				<div class="form-group">
					<label for="subject">Subject</label>
					<input type="text" class="form-control custom pointer" id="subject" name="subject" value="{$objTicket->subject}">
				</div>
			</div>
		</div>

		<div class="box-container clearfix">
			<div class="full">
				<div class="form-group">
					<label for="comment">Description</label>
					<textarea class="form-control" name="comment" id="comment"></textarea>
				</div>
			</div>
		</div>

		{else}

		<div class="box-container clearfix">
			<div class="one-half">
				<div class="form-group">
					<label for="locations">Status</label>
					<select class="form-control btn-select custom pointer" id="status_id" name="status_id">
						{section name=x loop=$arrStatuses}
						<option value="{$arrStatuses[x]->id}" {if $objTicket->status_id == $arrStatuses[x]->id}selected="selected"{/if}>{$arrStatuses[x]->name}</option>
						{/section}
					</select>
					<input type="hidden" id="status_id_original" name="status_id_original" value="{$objTicket->status_id}" />
				</div>
			</div>
		</div>

		<div class="box-container clearfix">
			<div class="full">
				<div class="tab-box-header">
					<div class="row">
						<div class="col-md-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Enter a Comment" name="comment">
								<span class="input-group-btn">
									<button class="btn btn-addon" type="button"><i class="fa fa-plus"></i></button>
								</span>
							</div><!-- /input-group -->
						</div>
						<div class="col-md-6">
							<div class="input-group">
							</div><!-- /input-group -->
						</div>
					</div><!-- ./row -->
				</div>
				<div class="tab-box-content">
					{section name=x loop=$arrComments}
					<div class="feedback-list">
						<div class="fb-datetime">{util::time_elapsed_string($arrComments[x]->created)}</div>
						<div class="fb-agent"><strong>Agent Name: </strong> {if $arrComments[x]->name}{$arrComments[x]->name}{elseif $arrComments[x]->poster}{$arrComments[x]->poster}{else}{$arrComments[x]->firstname} {$arrComments[x]->lastname}{/if}</div>
						<div>
							<p>
							{if isset($arrComments[x]->data['status'])}
								Changed the status to <b>{$arrComments[x]->data['status'][1]}</b>
							{elseif isset($arrComments[x]->data['fields'])}
								{foreach from=$arrComments[x]->data['fields'] key=k item=v}
									<strong>{Ticket::getFormFieldByID($k)}</strong> changed from <strong>{$v[0][0]}</strong> to <strong>{$v[1][0]}</strong>
								{/foreach}
							{elseif $arrComments[x]->state == 'created'}
								Created
							{else}
								{$arrComments[x]->body}
							{/if}
							</p>
						</div>
					</div>
					{/section}
				</div>
			</div>
		</div>
		{/if}

		</form>
	</div>
</div>
{/block}

{block name='scripts'}
<script src="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/bootstrap3-typeahead.min.js"></script>
<script src="/assets/plugins/bootstrapValidator/dist/js/bootstrapValidator.js"></script>

<script>
	$('html').bind('keypress', function(e) {
		if (e.keyCode == 13) {
			return false;
		}
	});

	$('#locations').tagsinput({
		typeahead: {
		afterSelect: function(val) {
			this.$element.val('');
		},
		source: [{section name = x loop = $arrLocations}'{$arrLocations[x]->number}', {/section}]},
			freeInput: false,
			trimValue: true,
			cancelConfirmKeysOnEmpty: true,
			tagClass: 'tagClass'
	});

	$('.btn-save, .btn-addon').click(function(){
		$('#frmTicket').submit();
	});

	// {if empty($smarty.get.id)}
	// $('#frmTicket').bootstrapValidator({
	// 	live: 'disabled',
    //     message: 'This value is not valid',
    //     feedbackIcons: {
    //         valid: 'fa fa-ok',
    //         invalid: '',
    //         validating: 'fa fa-refresh'
    //     },
    //     fields: {
	// 		category: {
    //             group: '.col-xs-12',
    //             validators: {
    //                 notEmpty: {
    //                     message: 'Category is required and cannot be empty'
    //                 }
    //             }
    //         },
    //         subject: {
    //             group: '.col-xs-12',
    //             validators: {
    //                 notEmpty: {
    //                     message: 'Subject is required and cannot be empty'
    //                 }
    //             }
    //         },
	// 		comment: {
    //             group: '.col-xs-12',
    //             validators: {
    //                 notEmpty: {
    //                     message: 'Comment is required and cannot be empty'
    //                 }
    //             }
    //         }
    //     }
    // });
	// {/if}
</script>
{/block}
