{extends file='common/admin.tpl'}
{block name='page-title'}
	{if $smarty.get.id}Edit{else}Add{/if} User
{/block}

{block name='body'}
{if $strError}
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
        <div class="alert alert-danger" role="alert">{$strError}</div>
    </div>
</div>
{/if}

{if $strSuccess}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="alert alert-success" role="alert">{$strSuccess}</div>
    </div>
</div>
{/if}
<div class="main-content">

	<div class="inner-content container-fluid">


		<form method="post" id="frmUser">
			<div class="box-container clearfix">
				<div class="one-half">
					<div class="form-group">
						<input type="checkbox" name="welcome_email" >
						<label for="welcome_emails">Send Welcome Email</label>
					</div>
				</div>
			</div>

			<div class="box-container clearfix">
				<div class="one-half">
					<div class="form-group">
						<label for="first_name">First Name</label>
						<input type="text" class="form-control" id="first_name" name="first_name" value="{$objUser->first_name}">
					</div>
				</div>
				<div class="one-half">
					<div class="form-group">
						<label for="last_name">Last Name</label>
						<input type="text" class="form-control" id="last_name" name="last_name" value="{$objUser->last_name}">
					</div>
				</div>
			</div>

			<div class="box-container clearfix">
				<div class="one-half">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" class="form-control" id="email" name="email" value="{$objUser->email}" autocomplete="off">
					</div>
				</div>
				<div class="one-half">
					<div class="form-group">
						<label for="pbx_user_link">PBX User Link</label>
						<select name='pbx_user_uuid' class='form-control'>
							<option value=''>No Link</option>
							{html_options options=$arrPBXUsers selected=$objUser->pbx_user_uuid}
						</select>
					</div>
				</div>
			</div>

			<hr />

			<div class="box-container clearfix">
				<div class="one-half">
					<div class="form-group">
						<label for="password">Password</label>
						<div class="input-group">
							<input type="password" class="form-control" id="password" name="password"  autocomplete="off">
							<span class="input-group-btn">
								<button class="btn btn-primary btn-generate" type="button">Generate</button>
							</span>
						</div>
					</div>
				</div>
				<div class="one-half">
					<div class="form-group">
						<label for="confirm_password">Confirm Password</label>
						<input type="password" class="form-control" id="confirm_password" name="confirm_password">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
	<div class="modal-content">
	  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Generated Password</h4>
      </div>
      <div class="modal-body">
		  <div class="form-group">
  			<label for="password">Password</label>
  			<div class="input-group">
  				<input type="input" class="form-control" id="modal-password">
  			</div>
  		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{/block}

{block name='scripts'}
<script src="/assets/plugins/maskedinput/jquery.maskedinput.js"></script>
<script src="/assets/plugins/bootstrapValidator/dist/js/bootstrapValidator.js"></script>

<script>
	$(document).ready(function() {
		$(".phone").mask("(999) 999-9999");

		$('#frmUser').bootstrapValidator({
			live: 'disabled',
	        message: 'This value is not valid',
	        feedbackIcons: {
	            valid: 'fa fa-ok',
	            invalid: '',
	            validating: 'fa fa-refresh'
	        },
	        fields: {
				first_name: {
	                group: '.one-half',
	                validators: {
	                    notEmpty: {
	                        message: 'First Name is required and cannot be empty'
	                    }
	                }
	            },
				last_name: {
	                group: '.one-half',
	                validators: {
	                    notEmpty: {
	                        message: 'Last Name is required and cannot be empty'
	                    }
	                }
	            },
				email: {
	                group: '.one-half',
	                validators: {
	                    notEmpty: {
	                        message: 'Email is required and cannot be empty'
	                    }
	                }
	            },
				'password': {
	                group: '.one-half',
	                validators: {
						different: {
	                    	field: 'email',
	                    	message: 'The email and password cannot be the same as each other'
	                	}
	                }
	            },
				'confirm_password': {
	                group: '.one-half',
	                validators: {
						identical: {
							field: 'password',
							message: "Password and Confirm Password MUST be the same"
						}
	                }
	            },
	        }
	    }).on('success.form.bv', function(e) {
	        e.preventDefault();
	        $('#frmUser').bootstrapValidator('defaultSubmit');
	    });

		$('.btn-save').click(function(){
			$('#frmUser').submit();
		});

		$('.btn-delete').click(function() {
			swal({
				title: "Delete Agent?",
				text: "Are you sure you want to delete this agent?",
				type: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Yes, delete!",
				closeOnConfirm: false
			}, function(){
				$.post("/ajax/ajax_user.php?action=delete", { user_id: '{$smarty.get.id}'})
					.done(function( data ) {
						window.location.href="manage_users.php";
					});
			});
		});

		function randomPassword(length) {
		    var chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890";
		    var pass = "";
		    for (var x = 0; x < length; x++) {
		        var i = Math.floor(Math.random() * chars.length);
		        pass += chars.charAt(i);
		    }

			if(!(hasUpperCase(pass))) randomPassword(10);

		    return pass;
		}

		$('.btn-generate').click(function(){
		    frmUser.password.value = randomPassword(10);

			frmUser.confirm_password.value = frmUser.password.value;
			$('#modal-password').val(frmUser.password.value);
			$('.modal').modal('show');
		});

		function hasUpperCase(str) {
		    return (/[A-Z]/.test(str));
		}

	});
</script>
{/block}
