{extends file='common/admin.tpl'}
{block name='page-title'}
	{if $smarty.get.id}Edit{else}Add{/if} User
{/block}

{block name='body'}
<div class="main-content">

	<div class="inner-content container-fluid">
		<form method="get" id="frmUser">
			<div class="box-container clearfix">
				<div class="one-half">
					<div class="form-group">
						<label for="number">Number</label>
						<br />
						<input type="text" class="form-control" id="number" name="number" value="{$objNumber->phone_number|default:$smarty.get.number}">
					</div>
				</div>
				{if $objNumber}
				<div class="one-half">
					Phone Number: {$objNumber->phone_number}<br />
					Country: {$objNumber->country_code}<br />
					Carrier: {$objNumber->carrier->name}<br />
					Type: {$objNumber->carrier->type}<br />
				</div>
				{/if}
			</div>
		</form>
	</div>
</div>

{/block}

{block name='scripts'}
<script src="/assets/plugins/maskedinput/jquery.maskedinput.js"></script>
<script src="/assets/plugins/bootstrapValidator/dist/js/bootstrapValidator.js"></script>
<script type='text/javascript'>
$(function() {
	$('.btn-save').click(function(){
		$('#frmUser').submit();
	});
});
</script>
{/block}
