{extends file='common/admin.tpl'}

{block name='css'}
<link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/assets/plugins/datepicker/datepicker.css" rel="stylesheet">
<link href="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet">
{/block}

{block name='page-title'}
	Locations
{/block}

{block name='page-actions'}
	{* <a href="/edit_location.php" class="btn btn-primary"><i class="fa fa-plus"></i> Add Location</a> *}
{/block}

{block name='body'}
{if $strError}
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger" role="alert">{$strError}</div>
    </div>
</div>
{/if}

{if $strSuccess}
<div class="row">
	<div class="col-xs-12">
        <div class="alert alert-success" role="alert">{$strSuccess}</div>
    </div>
</div>
{/if}

<div class="main-content">
	<div class="inner-content container-fluid">
		<table class="custom-table display nowrap dataTable dtr-inline collapsed" id="tblReports" style="margin-top: 0px !important; width: 100%;">
			<thead>
				<tr>
					<th class="pointer"><span>Location</span></th>
					<th class="pointer"><span>Address</span></th>
					<th class="pointer"><span>ISP</span></th>
					<th class="pointer"><span>Connection</span></th>
				</tr>
			</thead>
			<tbody>
				{section name=x loop=$arrLocations}
				<tr class="pointer location" data-id="{$arrLocations[x]->location_id}">
					<td>{$arrLocations[x]->number}</td>
					<td>
						<div class="row">
							<div class="col-xs-12 col-md-7">
								<div class="row">
									<div class="col-xs-12">{$arrLocations[x]->address1} {$arrLocations[x]->address2}</div>
								</div>
								<div class="row">
									<div class="col-xs-12">{$arrLocations[x]->city}{if $arrLocations[x]->city},{/if} {$arrLocations[x]->state} {$arrLocations[x]->zip}</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-5">
								<div class="row">
									<div class="col-xs-12 text-left"><span class="text-muted">{$arrLocations[x]->phone1}</span></div>
								</div>
								<div class="row">
									<div class="col-xs-12 text-left"><span class="text-muted">{$arrLocations[x]->phone2}</span></div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="row">
									<div class="col-xs-12">{$arrLocations[x]->isp_name}</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="row">
									<div class="col-xs-12 text-right"><span class="text-muted">{$arrLocations[x]->isp_phone1}</span></div>
								</div>
								<div class="row">
									<div class="col-xs-12 text-right"><span class="text-muted">{$arrLocations[x]->isp_phone2}</span></div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<div class="row">
							<div class="col-xs-12 col-md-6">{$arrLocations[x]->mb_down}/mb <i class="fa fa-arrow-down"></i></div>
							<div class="col-xs-12 col-md-6">{$arrLocations[x]->mb_up}/mb <i class="fa fa-arrow-up"></i></div>
						</div>
					</td>
				</tr>
				{sectionelse}
				<tr>
					<td class="text-center" colspan="4"><span class='h4'>No locations found.</span></td>
				</tr>
				{/section}
			</tbody>
		</table>
	</div>
</div>
{/block}

{block name='scripts'}
<!-- DataTables JavaScript -->
<script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.responsive.js"></script>
<script src="/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/bootstrap3-typeahead.min.js"></script>

<script>
	$(document).ready(function() {
		$('#tblReports').DataTable({
			responsive: true,
			"dom": 	"<'row'<'col-sm-12'i>>" +
					"<'panel-box'<'panel-box-header'<'row'<'col-sm-6'f><'col-sm-6'<'btn-group dropdown-select'l>>>>" +
					"tr" +
					"<'row'<'col-sm-6'B><'col-sm-6'p>>>",
			"oLanguage": {
		   		"sSearch": 		"",
				"sLengthMenu":	"_MENU_ per page"
		 	},
			"iDisplayLength": 50,
			buttons: [
				{
		            extend: 'csvHtml5',
		            text: '<i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>',
					filename: 'location_summary'
		        }
	        ]
		});


		$('.dataTables_filter input').attr("placeholder", "Search");
		$('select[name="tblReports_length"]').removeClass('input-sm').addClass('btn-select').addClass('form-control');

		$(document).on('click', '.location', function() {
			var id = $(this).data('id');
			window.location.href = 'edit_location.php?id='+id;
		});
	});
</script>
{/block}
