{extends file='common/admin.tpl'}

{block name='css'}
<link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/assets/plugins/datepicker/datepicker.css" rel="stylesheet">
<link href="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet">
{/block}

{block name='page-title'}
	Numbers
{/block}

{block name='page-actions'}
	<a href="/edit_number.php" class="btn btn-primary"><i class="fa fa-plus"></i> Add Number</a>
{/block}

{block name='body'}
{if $strError}
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger" role="alert">{$strError}</div>
    </div>
</div>
{/if}

{if $strSuccess}
<div class="row">
	<div class="col-xs-12">
        <div class="alert alert-success" role="alert">{$strSuccess}</div>
    </div>
</div>
{/if}

<div class="main-content">
	<div class="inner-content container-fluid">
		<table class="custom-table display nowrap dataTable dtr-inline collapsed" id="tblReports" style="margin-top: 0px !important; width: 100%;">
			<thead>
				<tr>
					<th class="pointer"><span>Number</span></th>
					<th class="pointer"><span>Country</span></th>
					<th class="pointer"><span>Desc</span></th>
				</tr>
			</thead>
			<tbody>
				{section name=x loop=$arrNumbers}
				<tr class="pointer location" data-id="{$arrNumbers[x]['number_id']}">
					<td style='width: 120px;'>{$arrNumbers[x]['number_e164']}</td>
					<td style='width: 250px;'>{$arrNumbers[x]['short_name']}</td>
					<td>{$arrNumbers[x]['description']}</td>
				</tr>
				{sectionelse}
				<tr>
					<td class="text-center" colspan="3"><span class='h4'>No numbers found.</span></td>
				</tr>
				{/section}
			</tbody>
		</table>
	</div>
</div>
{/block}

{block name='scripts'}
<!-- DataTables JavaScript -->
<script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.responsive.js"></script>
<script src="/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/js/buttons.html5.min.js"></script>

<script>
	$(document).ready(function() {
		$('#tblReports').DataTable({
			responsive: true,
			"dom": 	"<'row'<'col-sm-12'i>>" +
					"<'panel-box'<'panel-box-header'<'row'<'col-sm-6'f><'col-sm-6'<'btn-group dropdown-select'l>>>>" +
					"tr" +
					"<'row'<'col-sm-6'B><'col-sm-6'p>>>",
			"oLanguage": {
		   		"sSearch": 		"",
				"sLengthMenu":	"_MENU_ per page"
		 	},
			"iDisplayLength": 50,
			buttons: [
				{
		            extend: 'csvHtml5',
		            text: '<i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>',
					filename: 'location_summary'
		        }
	        ]
		});


		$('.dataTables_filter input').attr("placeholder", "Search");
		$('select[name="tblReports_length"]').removeClass('input-sm').addClass('btn-select').addClass('form-control');

		$('.location').click(function() {
			var id = $(this).data('id');
			window.location.href = 'edit_number.php?id='+id;
		});

		$('.pushed-buttons').append('<a href="/edit_number.php" class="btn btn-blue big"><i class="fa fa-plus"></i> Add Number</a>');
	});
</script>
{/block}
