{extends file='common/admin.tpl'}

{block name='css'}
<!-- DataTables CSS -->
    <link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
{/block}

{block name='page-title'}
	Users
{/block}

{block name='body'}
{if $strError}
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger" role="alert">{$strError}</div>
    </div>
</div>
{/if}

{if $strSuccess}
<div class="row">
	<div class="col-xs-12">
        <div class="alert alert-success" role="alert">{$strSuccess}</div>
    </div>
</div>
{/if}

<div class="main-content">
	<div class="inner-content container-fluid">
		<table class="custom-table display nowrap dataTable dtr-inline collapsed" id="tblUsers" style="margin-top: 0px !important; width: 100%;">
			<thead>
				<tr>
					<th><span>Email</span></th>
					<th><span>Name</span></th>
				</tr>
			</thead>
			<tbody>
				{section name=x loop=$arrUsers}
				<tr class="pointer">
                    <td class="user-click" data-id="{$arrUsers[x]->user_id}">{$arrUsers[x]->email}</td>
                    <td class="user-click" data-id="{$arrUsers[x]->user_id}">{$arrUsers[x]->name}</td>
				</tr>
				{sectionelse}
					<tr><td class='text-center' colspan="2"><span class='h4'>No users found.</span></td></tr>
				{/section}
			</tbody>
		</table>
	</div>
</div>
{/block}

{block name='scripts'}
<!-- DataTables JavaScript -->
<script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.responsive.js"></script>
<script src="/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/js/buttons.html5.min.js"></script>

<script>
	$('.pushed-buttons').append('<a href="/edit_user.php" class="btn btn-blue big"><i class="fa fa-plus"></i> Add User</a>');

	$(document).ready(function() {
		$('#tblUsers').DataTable({
			responsive: true,
			"dom": 	"<'row'<'col-sm-12'i>>" +
					"<'panel-box'<'panel-box-header'<'row'<'col-sm-6'f><'col-sm-6'<'btn-group dropdown-select'l>>>>" +
					"tr" +
					"<'row'<'col-sm-6'B><'col-sm-6'p>>>",
			"oLanguage": {
		   		"sSearch": 		"",
				"sLengthMenu":	"_MENU_ per page"
		 	},
			"iDisplayLength": 50,
			buttons: [
				{
		            extend: 'csvHtml5',
		            text: '<i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>',
					filename: 'location_summary'
		        }
	        ]
		});

		$('.dataTables_filter input').attr("placeholder", "Search");
		$('select[name="tblUsers_length"]').removeClass('input-sm').addClass('btn-select').addClass('form-control');

		$(document).on('click', '.user-click', function() {
			var id = $(this).data('id');
			window.location.href = 'edit_user.php?id='+id;
		});
	});
</script>
{/block}
