{extends file='common/admin.tpl'}

{block name='css'}
<link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/assets/plugins/datepicker/datepicker.css" rel="stylesheet">
<link href="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet">
{/block}

{block name='page-title'}
	Tickets
{/block}

{block name='page-actions'}
	<div class="btn-group" role="group" aria-label="...">
		<button class="toggle-panel btn btn-primary"><i class="fa fa-filter"></i> Filter</button>
	</div>
{/block}

{block name='body'}
{if $strError}
<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger" role="alert">{$strError}</div>
    </div>
</div>
{/if}

{if $strSuccess}
<div class="row">
	<div class="col-xs-12">
        <div class="alert alert-success" role="alert">{$strSuccess}</div>
    </div>
</div>
{/if}

<div class="main-content">

	<div class="inner-content container-fluid">
		<table class="custom-table display nowrap dataTable dtr-inline collapsed" id="tblTickets" style="margin-top: 0px !important; width: 100%;">
			<thead>
				<tr>
					<th><span>Number</span></th>
					<th><span>Last Updated</span></th>
					<th><span>Status</span></th>
					<th><span>Priority</span></th>
					<th><span>Reported By</span></th>
					<th><span>Subject</span></th>
				</tr>
			</thead>
			<tbody>
				{section name=x loop=$arrTickets}
				<tr class="pointer {if $arrTickets[x]->priority >= 3}danger{/if} ticket" data-number="{$arrTickets[x]->number}">
					<td>{$arrTickets[x]->number}</td>
					<td>{$arrTickets[x]->lastupdate}</td>
					<td>{Ticket::getStatusByID($arrTickets[x]->status_id)}</td>
					<td>{Ticket::getPriorityByID($arrTickets[x]->priority)}</td>
					<td>{$arrTickets[x]->name}</td>
					<td>{$arrTickets[x]->subject}</td>
				</tr>
				{sectionelse}
					<tr><td class='text-center' colspan="6"><span class='h4'>No tickets found.</span></td></tr>
				{/section}
			</tbody>
		</table>
	</div>
</div>
{/block}

{block name='scripts'}
<script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.responsive.js"></script>
<script src="/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/bootstrap3-typeahead.min.js"></script>
<script src="/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/js/buttons.html5.min.js"></script>

<script>
	$(document).ready(function() {
		$('button.create-ticket').hide();

		$('.pushed-buttons').append('<a href="/edit_ticket.php" class="btn btn-blue big"><i class="fa fa-plus"></i> Add Ticket</a>');


		{if !empty($arrTickets)}
		$('#tblTickets').DataTable({
			responsive: true,
			"dom": 	"<'row'<'col-sm-12'i>>" +
					"<'panel-box'<'panel-box-header'<'row'<'col-sm-6'f><'col-sm-6'<'btn-group dropdown-select'l>>>>" +
					"tr" +
					"<'row'<'col-sm-6'B><'col-sm-6'p>>>",
			"oLanguage": {
		   		"sSearch": 		"",
				"sLengthMenu":	"_MENU_ per page"
		 	},
			"iDisplayLength": 50,
			buttons: [
				{
		            extend: 'csvHtml5',
		            text: '<i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>',
					filename: 'location_summary'
		        }
	        ]
		});

		$('.dataTables_filter input').attr("placeholder", "Search");
		$('select[name="tblTickets_length"]').removeClass('input-sm').addClass('btn-select').addClass('form-control');
		{/if}

		$('.ticket').on('click', function(){
			var id = $(this).data('number');
			window.location.href = 'edit_ticket.php?id='+id;
		});

		$('#locations').tagsinput({
			typeahead: {
			afterSelect: function(val) {
				this.$element.val('');
			},
			source: [{section name = x loop = $arrLocations}'{$arrLocations[x]->number}', {/section}]},
				freeInput: false,
				trimValue: true,
				cancelConfirmKeysOnEmpty: true,
				tagClass: 'tagClass'
		});

		$("#start_date").datepicker();
		$("#end_date").datepicker();

		$(document).on('change', '#quick_date', function (){

			var val = $("#quick_date option:selected").val();

			switch (val) {
				case "today":
				  $("#start_date").val('{$smarty.now|date_format:"%m/%d/%Y"}');
				  $("#end_date").val('{$smarty.now|date_format:"%m/%d/%Y"}');
				  break;
				case "yesterday":
				  $("#start_date").val('{"yesterday"|date_format:"%m/%d/%Y"}');
				  $("#end_date").val('{"yesterday"|date_format:"%m/%d/%Y"}');
				  break;
				case "this_week":
				  $("#start_date").val('{"last monday"|date_format:"%m/%d/%Y"}');
				  $("#end_date").val('{"today"|date_format:"%m/%d/%Y"}');
				  break;
				case "last_week":
				  $("#start_date").val('{"monday last week"|date_format:"%m/%d/%Y"}');
				  $("#end_date").val('{"last sunday"|date_format:"%m/%d/%Y"}');
				  break;
				case "month_to_date":
				  $("#start_date").val('{"today"|date_format:"%m/01/%Y"}');
				  $("#end_date").val('{"today"|date_format:"%m/%d/%Y"}');
				  break;
				case "last_month_to_date":
				  var last_month = '{"last month"|date_format:"%m"}';
				  $("#start_date").val('{"last month"|date_format:"%m/01/%Y"}');
				  $("#end_date").val(last_month+'{"today"|date_format:"/%d/%Y"}');
				  break;
				case "last_month":
				  $("#start_date").val('{"last month"|date_format:"%m/01/%Y"}');
				  $("#end_date").val('{"last day of last month"|date_format:"%m/%d/%Y"}');
				  break;
			}
		});
	});
</script>
{/block}
