{extends file='common/admin.tpl'}

{block name='css'}
<!-- DataTables CSS -->
<link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
{/block}

{block name='body'}

<div class="main-content">
	<div class="inner-content container-fluid">
		<table id="tblReport" class="custom-table display nowrap dataTable dtr-inline collapsed" style="margin-top: 0px !important; width: 100%;">
			<thead>
				<tr>
					<th>Domain Name</th>
					<th>Domain Description</th>
					<th>Extension</th>
					<th>Effective Caller ID Name</th>
					<th>Outbound Caller ID Name</th>
					<th>Outbound Caller ID Number</th>
					<th>Call Group</th>
				</tr>
			</thead>
			<tbody>
				{section name=x loop=$arrData}
					<tr>
						<td>{$arrData[x]['domain_name']}</td>
						<td>{$arrData[x]['domain_description']}</td>
						<td>{$arrData[x]['extension']}</td>
						<td>{$arrData[x]['effective_caller_id_name']}</td>
						<td>{$arrData[x]['outbound_caller_id_name']}</td>
						<td>{$arrData[x]['outbound_caller_id_number']}</td>
						<td>{$arrData[x]['call_group']}</td>
					</tr>
				{sectionelse}
					<tr><td>No billing data found.</td></tr>
				{/section}
			</tbody>
		</table>
	</div>
</div>
{/block}

{block name='scripts'}
<!-- DataTables JavaScript -->
<script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.responsive.js"></script>
<script src="/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/js/buttons.html5.min.js"></script>

<script>
	$(document).ready(function() {
		$('#tblReport').DataTable({
			responsive: true,
			"dom": 	"<'row'<'col-sm-12'i>>" +
					"<'panel-box'<'panel-box-header'<'row'<'col-sm-6'><'col-sm-6'<'btn-group dropdown-select'l>>>>" +
					"tr" +
					"<'row'<'col-sm-6'B><'col-sm-6'p>>>",
			"oLanguage": {
				"sSearch": 		"",
				"sLengthMenu":	"_MENU_ per page"
			},
			"iDisplayLength": 50,
			buttons: [
				{
		            extend: 'csvHtml5',
		            text: '<i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>',
					filename: 'billing-extensions'
		        }
	        ]
		});

		$('.dataTables_filter input').attr("placeholder", "Search");
		$('select[name="tblReport_length"]').removeClass('input-sm').addClass('btn-select').addClass('form-control');

		$("#start_date").datepicker();
		$("#end_date").datepicker();
	});
</script>
{/block}
