{extends file='common/admin.tpl'}

{block name='css'}
<!-- DataTables CSS -->
<link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/assets/plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/assets/plugins/datepicker/datepicker.css" rel="stylesheet">
<link href="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet">
{/block}

{block name='body'}
<div class="main-content">

	<div class="inner-content container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="dataTables_info" aria-live="polite">{$strTableStats}</div>
			</div>

		</div>
		<div class="panel-box">
			<div class="panel-box-header">
				<div class="row">
					<div class="col-sm-6 col-xs-12"></div>
					<div class="col-sm-6 col-xs-12">
						<div class="btn-group dropdown-select">
							<div class="dataTables_length" id="tblReport_length">
								<label>
									<select id="result-size" class="btn-select pointer form-control">
										<option value="10" {if $arrParams.page.size == 10}selected{/if}>10</option>
										<option value="25" {if $arrParams.page.size == 25}selected{/if}>25</option>
										<option value="50" {if $arrParams.page.size == 50}selected{/if}>50</option>
									</select>
									per page
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table id="tblReport" class="custom-table table-responsive">
						<thead>
							<tr>
								<th width="15px;"></th>
								<th width="15px;"></th>
								<th class="sort pointer {if $arrParams.sort.field == 'caller_id_name'}active_sort{/if}" data-sort-col="caller_id_name" data-sort-val='{if $arrParams.sort.field == "caller_id_name" AND $arrParams.sort.order == "desc"}asc{else}desc{/if}'>
									<span>CID Name</span>
								</th>
								<th class="sort pointer {if $arrParams.sort.field == 'caller_id_number'}active_sort{/if}" data-sort-col="caller_id_number" data-sort-val='{if $arrParams.sort.field == "caller_id_number" AND $arrParams.sort.order == "desc"}asc{else}desc{/if}'>
									<span>Source</span>
								</th>
								<th class="sort pointer {if $arrParams.sort.field == 'destination_number'}active_sort{/if}" data-sort-col="destination_number" data-sort-val='{if $arrParams.sort.field == "destination_number" AND $arrParams.sort.order == "desc"}asc{else}desc{/if}'>
									<span>Destination</span>
								</th>
								<th class="sort pointer {if $arrParams.sort.field == 'start_epoch'}active_sort{/if}" data-sort-col="start_epoch" data-sort-val='{if $arrParams.sort.field == "start_epoch" AND $arrParams.sort.order == "desc"}asc{else}desc{/if}'>
									<span>DateTime Start</span>
								</th>
								<th class="sort pointer {if $arrParams.sort.field == 'tta'}active_sort{/if}" data-sort-col="tta" data-sort-val='{if $arrParams.sort.field == "tta" AND $arrParams.sort.order == "desc"}asc{else}desc{/if}'>
									<span>TTA</span>
								</th>
								<th class="sort pointer {if $arrParams.sort.field == 'duration'}active_sort{/if}" data-sort-col="duration" data-sort-val='{if $arrParams.sort.field == "duration" AND $arrParams.sort.order == "desc"}asc{else}desc{/if}'>
									<span>Duration</span>
								</th>
								<th class="sort pointer {if $arrParams.sort.field == 'pdd_ms'}active_sort{/if}" data-sort-col="pdd_ms" data-sort-val='{if $arrParams.sort.field == "pdd_ms" AND $arrParams.sort.order == "desc"}asc{else}desc{/if}'>
									<span>PDD</span>
								</th>
								<th class="sort pointer {if $arrParams.sort.field == 'rtp_audio_in_mos'}active_sort{/if}" data-sort-col="rtp_audio_in_mos" data-sort-val='{if $arrParams.sort.field == "rtp_audio_in_mos" AND $arrParams.sort.order == "desc"}asc{else}desc{/if}'>
									<span>MOS</span>
								</th>
								<th class="sort pointer {if $arrParams.sort.field == 'hangup_cause'}active_sort{/if}" data-sort-col="hangup_cause" data-sort-val='{if $arrParams.sort.field == "hangup_cause" AND $arrParams.sort.order == "desc"}asc{else}desc{/if}'>
									<span>Hangup Cause</span>
								</th>
							</tr>
						</thead>
						<tbody>
							{section name=x loop=$arrData}
								<tr class="cdr-row" data-uuid="{$arrData[x]->uuid}" data-recording="{$arrData[x]->has_recording}" {if $arrData[x]->has_recording}role="button"{/if}>
									<td class="text-center">
										{if $arrData[x]->direction_icon}
											<img src="/assets/images/{$arrData[x]->direction_icon}" title="{$arrData[x]->direction_text}"/>
										{else}
											<i class="fa fa-question-circle-o"></i>
										{/if}
									</td>
									<td class="text-center">
										{if $arrData[x]->has_recording}
											<i class="fa fa-microphone"></i>
										{else}
											<i class="text-muted-2 fa fa-microphone-slash"></i>
										{/if}
									</td>
									<td>{$arrData[x]->cid}</td>
									<td>{$arrData[x]->source}</td>
									<td>{$arrData[x]->destination}</td>
									<td>{$arrData[x]->datetime_start|date_format:$smarty.CONST.DISPLAY_DATETIME_1}</td>
									<td>{$arrData[x]->tta}</td>
									<td>{$arrData[x]->duration}</td>
									<td>{$arrData[x]->pdd}</td>
									<td>{$arrData[x]->mos}</td>
									<td>{$arrData[x]->outcome}</td>
								</tr>
							{sectionelse}
								<tr><td class='text-center' colspan="10"><span class='h4'>No CDR's found, adjust filters and try again.</span></td></tr>
							{/section}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row row-action">
			<div class="col-xs-12 col-md-6">
				<button class="download"><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i></button>
			</div>
			<div class="col-xs-12 col-md-6">
				{include file="common/paging.tpl"}
			</div>
		</div>
	</div>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Audio Player</h4>
			</div>

			<div class="modal-body">
				<div id="wavesurfer" style="min-width:100%"></div>
			</div>

			<div class="modal-footer">
				<div class="audio-controls">
					<div class="row">
						<div class="col-md-4">
							<span class="control-play"><i class="fa fa-play"></i></span>
							<span class="control-start-over"><i class="fa fa-undo"></i></span>
							<span class="current-time">00:00:00 |</span>
							<span class="length-time">00:00:00</span>
						</div>
						<div class="col-md-4">
							<div class="progress progress-mini progress-striped progress-slim active percent-loaded">
								<div style="width: 0%;" class="progress-bar progress-bar-success"></div>
							</div>
						</div>
						<div class="col-md-4">
						</div>
					</div>
					<!-- ./controls -->
				</div>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{extends file='common/filter.tpl'}

{/block}

{block name='scripts'}
<script src="/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/bootstrap3-typeahead.min.js"></script>
<script src="/assets/plugins/wavesurfer/wavesurfer.min.js"></script>
<script src="/assets/plugins/wavesurfer/wavesurfer.timeline.min.js"></script>
<script src="/assets/js/audio-player.js"></script>

<script>
	$(function(e){
		$("#start_date").datepicker();
		$("#end_date").datepicker();

		$(".cdr-row").click(function(){
			var row = $(this).closest('tr');

			// if the row has no recording, do not attempt to play
			if( row.data('recording') == 0 ) return;

			var objModal = $('#myModal');
			var strCloudfrontURL = "/ajax/s3_audio_stream.php?uuid="+row.data('uuid');

			// reset timestamps to default
			$('.current-time').text('00:00:00 |');
			$('.length-time').text('00:00:00');

			// Set timeout due to how jquery.load does js, basically wasn't instantiating
			// the dom before wavesurfer was instantiating.
			setTimeout(function(){
				objModal.modal();
			},100);

			setTimeout(function(){
				objAudioPlayer = new $.audioPlayer({
					strAudioURL: strCloudfrontURL
				});

				objAudioPlayer.initPlayer("audio", "false");

				objAudioPlayer.wavesurfer.on('error', function(message){
					console.log(message);
					objModal.modal('toggle');
					swal("Oops...", "Audio failed to load", "error");
				});

				objAudioPlayer.wavesurfer.on('ready', function() {
					objAudioPlayer.setDuration($('.length-time'));
					objAudioPlayer.handlePlayAndPause( $('.control-play') );
					objAudioPlayer.handleStartOver( $('.control-start-over') );
					objAudioPlayer.wavesurfer.play();
					$('.percent-loaded').fadeOut('slow');
				});

				objAudioPlayer.wavesurfer.on('audioprocess', function (time) {
					objAudioPlayer.setCurrentTime(time, $('.current-time'));
				});
			},300);

			objModal.on('hidden.bs.modal', function () {
				objAudioPlayer.unloadPlayer();
			});

		});

	});

	$(".paging").on("click",function(){
		var page = $(this).data('page');

		if(page == "#"){
			return false;
		}

		$('#tablePage').val(page);
		$("#tableFilters").submit();
		return false;
	});

	$(".sort").on("click", function(){
		$("#sortField").val($(this).data("sort-col"));
		$("#sortOrder").val($(this).data("sort-val"));
		$("#tableFilters").submit();
		return false;
	});

	{if $arrLocationsJSON}
		var arrLocations = {$arrLocationsJSON};
		$('#locations').tagsinput({
			itemValue: 'uuid',
			itemText: 'name',
			typeahead: {
				afterSelect: function(val) {
					this.$element.val('');
				},
				source: arrLocations,
				freeInput: false,
				trimValue: true,
				cancelConfirmKeysOnEmpty: true,
				tagClass: 'tagClass'
			}
		});
	{/if}

	{if $arrSelectedLocationsJSON}
		var arrSelectedLocations = {$arrSelectedLocationsJSON};
		for(i = 0; i < arrSelectedLocations.length; i++)
		{
			$('#locations').tagsinput('add', arrSelectedLocations[i]);
		}
	{/if}

	$('#result-size').on('change', function(){
		$('#size').val($(this).val());
		$("#tableFilters").submit();
	});

	// Use Ajax to submit form data
	$('button.download').click(function(){
		$("#tableFilters").attr("action", "/cdr_list_download.php");
		$("#tableFilters").submit();
		$("#tableFilters").attr("action", "/report_cdr_list.php");
	});
</script>
{/block}
