{extends file='common/admin.tpl'}

{block name='css'}
<link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/assets/plugins/datepicker/datepicker.css" rel="stylesheet">
<link href="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet">
{/block}

{block name='page-title'}
	CDR Summary
{/block}

{block name='page-actions'}

{/block}

{block name='body'}
<div class="main-content">
	<div class="inner-content container-fluid">
		<table id="tblReport" class="custom-table display nowrap dataTable dtr-inline collapsed" style="margin-top: 0px !important; width: 100%;">
			<thead>
				<tr>
					<th><span>Location</span></th>
					<th><span>Total Calls</span></th>
					<th><span>Total Inbound</span></th>
					<th><span>Total Outbound</span></th>
					<th><span>Avg Duration Inbound</span></th>
					<th><span>Avg Duration Outbound</span></th>
					<th><span>Avg Calls Per Day</span></th>
				</tr>
			</thead>
			<tbody>
				{section name=x loop=$arrData}
				<tr class="row-location" data-uuid="{$arrData[x]->key}">
					<td>{$arrData[x]->location_name}</td>
					<td>{$arrData[x]->total_calls}</td>
					<td>{$arrData[x]->total_inbound->doc_count}</td>
					<td>{$arrData[x]->total_outbound->doc_count}</td>
					{if $arrData[x]->total_inbound->avg_duration->value}
					    <td>{$arrData[x]->total_inbound->avg_duration->value|format_seconds}</td>
					{else}
					    <td>0</td>
					{/if}

					{if $arrData[x]->total_outbound->avg_duration->value}
					    <td>{$arrData[x]->total_outbound->avg_duration->value|format_seconds}</td>
					{else}
					    <td>0</td>
					{/if}
					<td>{$arrData[x]->avg_calls_day}</td>
				</tr>
				{sectionelse}
					<tr><td class='text-center' colspan="7"><span class='h4'>No location summary found.</span></td></tr>
				{/section}
			</tbody>
		</table>
	</div>
</div>

{extends file='common/filter.tpl'}


{/block}

{block name='scripts'}
<script src="/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/bootstrap3-typeahead.min.js"></script>
<!-- DataTables JavaScript -->
<script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.responsive.js"></script>
<script src="/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/js/buttons.html5.min.js"></script>

<script>
	$(document).ready(function() {
		$('#tblReport').DataTable({
			responsive: true,
			"dom": 	"<'row'<'col-sm-12'i>>" +
					"<'panel-box'<'panel-box-header'<'row'<'col-sm-6'><'col-sm-6'<'btn-group dropdown-select'l>>>>" +
					"tr" +
					"<'row'<'col-sm-6'B><'col-sm-6'p>>>",
			"oLanguage": {
		   		"sSearch": 		"",
				"sLengthMenu":	"_MENU_ per page"
		 	},
			"iDisplayLength": 50,
			buttons: [
				{
		            extend: 'csvHtml5',
		            text: '<i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>',
					filename: 'location_summary'
		        }
	        ]
		});

		$('.dataTables_filter input').attr("placeholder", "Search");
		$('select[name="tblReport_length"]').removeClass('input-sm').addClass('btn-select').addClass('form-control');

		$("#start_date").datepicker();
		$("#end_date").datepicker();
	});

	// $('.row-location').on('click', function(){
	// 	$.post('/ajax/params_handler.php', {
	// 		'temp_param': true,
	// 		'locations': [$(this).data('uuid')]
	// 	})
	// 	.done(function(response){
	// 		window.location = "/report_cdr_list.php";
	// 	});
	// });
</script>
{/block}
