{extends file='common/admin.tpl'}

{block name='css'}
<!-- DataTables CSS -->
<link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/assets/plugins/datepicker/datepicker.css" rel="stylesheet">
<link href="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet">
{/block}

{block name='body'}

<div class="main-content">
	<div class="inner-content container-fluid">
		<table id="tblReport" class="custom-table display nowrap dataTable dtr-inline collapsed" style="margin-top: 0px !important; width: 100%;">
			<thead>
				<tr>
					<th class="pointer">
						<span>Name</span>
					</th>
					<th class="pointer">
						<span>Total Seconds</span>
					</th>
					<th class="pointer">
						<span>Inbound Seconds</span>
					</th>
					<th class="pointer">
						<span>Outbound Seconds</span>
					</th>
				</tr>
			</thead>
			<tbody>
				{if $arrData}
					{foreach $arrData as $key => $value}
					<tr data-uuid="{$arrData[x]->uuid}">
						<td>{$key}</td>
						<td>{$value['total_sec']|number_format}</td>
						<td>{$value['inbound']|number_format}</td>
						<td>{$value['outbound']|number_format}</td>
					</tr>
					{/foreach}
				{else}
					<tr><td class='text-center' colspan="4"><span class='h4'>No billing data found, adjust filters and try again.</span></td></tr>
				{/if}
			</tbody>
		</table>
	</div>
</div>

{extends file='common/filter.tpl'}

{/block}

{block name='scripts'}
<script src="/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/bootstrap3-typeahead.min.js"></script>
<!-- DataTables JavaScript -->
<script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.responsive.js"></script>
<script src="/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/js/buttons.html5.min.js"></script>

<script>
	$(document).ready(function() {
		$('#tblReport').DataTable({
			responsive: true,
			"dom": 	"<'row'<'col-sm-12'i>>" +
					"<'panel-box'<'panel-box-header'<'row'<'col-sm-6'><'col-sm-6'<'btn-group dropdown-select'l>>>>" +
					"tr" +
					"<'row'<'col-sm-6'B><'col-sm-6'p>>>",
			"oLanguage": {
				"sSearch": 		"",
				"sLengthMenu":	"_MENU_ per page"
			},
			"iDisplayLength": 50,
			buttons: [
				{
		            extend: 'csvHtml5',
		            text: '<i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>',
					filename: 'report_billing_seconds'
		        }
	        ]
		});

		$('.dataTables_filter input').attr("placeholder", "Search");
		$('select[name="tblReport_length"]').removeClass('input-sm').addClass('btn-select').addClass('form-control');

		$("#start_date").datepicker();
		$("#end_date").datepicker();
	});
</script>
{/block}
