{extends file='common/admin.tpl'}

{block name='css'}
<!-- DataTables CSS -->
<link href="/assets/themes/sb-admin-2/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
<link href="/assets/plugins/datepicker/datepicker.css" rel="stylesheet">
<link href="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet">
{/block}

{block name='page-title'}
	CDR List
{/block}

{block name='page-actions'}
	<div class="btn-group" role="group" aria-label="...">
		<button class="toggle-panel btn btn-primary"><i class="fa fa-filter"></i> Filter</button>
	</div>
{/block}

{block name='body'}
<div class="main-content">
	<div class="inner-content container-fluid">
		<table id="tblReport" class="custom-table display nowrap dataTable dtr-inline collapsed" style="margin-top: 0px !important; width: 100%;">
			<thead>
				<tr>
					<th><span>Agent</span></th>
					<th><span>Total Calls</span></th>
					<th><span>Talk Time</span></th>
					<th><span>Inbound - Calls</span></th>
					<th><span>Inbound - Talk Time</span></th>
					<th><span>Outbound - Calls</span></th>
					<th><span>Outbound - Talk Time</span></th>
					<th><span>Rejected</span></th>
					<th><span>No Answer</span></th>
				</tr>
			</thead>
			<tbody>
				{section name=x loop=$arrData}
				<tr class="row-agent pointer" data-uuid="{$arrData[x]->cc_agent}">
					<td>{$arrData[x]->caller_id_name}</td>
					<td>{$arrData[x]->total->calls}</td>
					<td>{$arrData[x]->total->talk_time|format_seconds}</td>
					<td>{$arrData[x]->total_inbound->calls}</td>
					<td>{$arrData[x]->total_inbound->talk_time|format_seconds}</td>
					<td>{$arrData[x]->total_outbound->calls}</td>
					<td>{$arrData[x]->total_outbound->talk_time|format_seconds}</td>
					<td>{$arrData[x]->rejected}</td>
					<td>{$arrData[x]->no_answer}</td>
				</tr>
				{sectionelse}
					<tr><td class='text-center' colspan="9"><span class='h4'>No agent statistics data found.</span></td></tr>
				{/section}
			</tbody>
		</table>
	</div>
</div>


{extends file='common/filter.tpl'}


{/block}

{block name='scripts'}
<script src="/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/bootstrap3-typeahead.min.js"></script>
<!-- DataTables JavaScript -->
<script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.responsive.js"></script>
<script src="/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/js/buttons.html5.min.js"></script>

<script>
	$(document).ready(function() {
		$('#tblReport').DataTable({
			responsive: true,
			"dom": 	"<'row'<'col-sm-12'i>>" +
					"<'panel-box'<'panel-box-header'<'row'<'col-sm-6'><'col-sm-6'<'btn-group dropdown-select'l>>>>" +
					"tr" +
					"<'row'<'col-sm-6'B><'col-sm-6'p>>>",
			"oLanguage": {
		   		"sSearch": 		"",
				"sLengthMenu":	"_MENU_ per page"
		 	},
			"iDisplayLength": 50,
			buttons: [
				{
					extend: 'csvHtml5',
					text: '<i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>',
					filename: 'agent_statistics'
				}
			]
		});

		$('.dataTables_filter input').attr("placeholder", "Search");
		$('select[name="tblReport_length"]').removeClass('input-sm').addClass('btn-select').addClass('form-control');

		$("#start_date").datepicker();
		$("#end_date").datepicker();
	});

	{if $arrCCAgentsJSON}
		var arrCCAgents = {$arrCCAgentsJSON};
		$('#agents').tagsinput({
			itemValue: 'uuid',
			itemText: 'name',
			typeahead: {
				afterSelect: function(val) {
					this.$element.val('');
				},
				source: arrCCAgents,
				freeInput: false,
				trimValue: true,
				cancelConfirmKeysOnEmpty: true,
				tagClass: 'tagClass'
			}
		});
	{/if}

	{if $arrSelectedCCAgentsJSON}
		var arrSelectedCCAgentsJSON = {$arrSelectedCCAgentsJSON};
		for(i = 0; i < arrSelectedCCAgentsJSON.length; i++)
		{
			$('#agents').tagsinput('add', arrSelectedCCAgentsJSON[i]);
		}
	{/if}

	$('.row-agent').on('click', function(){
		$.post('/ajax/params_handler.php', {
			'add_param': true,
			'extensions': [$(this).data('uuid')]
		})
		.done(function(response){
			window.location = "/report_cdr_list.php";
		});
	});

</script>
{/block}
