{extends file='common/admin.tpl'}

{block name='css'}
<!-- DataTables CSS -->
<link href="/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/assets/plugins/datepicker/datepicker.css" rel="stylesheet">
<link href="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.css" rel="stylesheet">
{/block}

{block name='body'}

<div class="main-content">
	<div class="inner-content container-fluid">
		<table id="tblReport" class="custom-table display nowrap dataTable dtr-inline collapsed" style="margin-top: 0px !important; width: 100%;">

			<thead>
				<tr>
					<th>
						<span>Date</span>
					</th>
					<th>
						<span>Agent</span>
					</th>
					<th>
						<span>Extension</span>
					</th>
					<th>
						<span>Inbound Calls</span>
					</th>
					<th>
						<span>Outbound Calls</span>
					</th>
					<th>
						<span>Call Group</span>
					</th>
				</tr>
			</thead>
			<tbody>
				{if $arrData}
					{foreach $arrData as $arrAgent}
						{foreach $arrAgent as $arrSkill}
						<tr class="row-location pointer" data-uuid="{$arrData[x]->uuid}">
							<td>{$arrSkill['date']|date_format:$smarty.CONST.DISPLAY_DATE_1}</td>
							<td>{$arrSkill['agent']}</td>
							<td>{$arrSkill['extension']}</td>
							<td>{$arrSkill['inbound']}</td>
							<td>{$arrSkill['outbound']}</td>
							<td>{$arrSkill['call_group']}</td>
						</tr>
						{/foreach}
					{/foreach}
				{else}
					<tr><td class='text-center' colspan="10"><span class='h4'>No Production Report Data found, adjust filters and try again</span></td></tr>
				{/if}
			</tbody>
		</table>
	</div>
</div>


{extends file='common/filter.tpl'}


{/block}

{block name='scripts'}
<script src="/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
<script src="/assets/plugins/bootstrap-tagsinput/bootstrap3-typeahead.min.js"></script>
<!-- DataTables JavaScript -->
<script src="/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.responsive.js"></script>
<script src="/assets/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/datatables/js/buttons.html5.min.js"></script>



<script>
	$(document).ready(function() {
		$('#tblReport').DataTable({
			responsive: true,
			"dom": 	"<'row'<'col-sm-12'i>>" +
					"<'panel-box'<'panel-box-header'<'row'<'col-sm-6'><'col-sm-6'<'btn-group dropdown-select'l>>>>" +
					"tr" +
					"<'row'<'col-sm-6'B><'col-sm-6'p>>>",
			"oLanguage": {
		   		"sSearch": 		"",
				"sLengthMenu":	"_MENU_ per page"
		 	},
			"iDisplayLength": 50,
			buttons: [
				{
					extend: 'csvHtml5',
					text: '<i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i>',
					filename: 'production_report'
				}
			]
		});

		$('.dataTables_filter input').attr("placeholder", "Search");
		$('select[name="tblReport_length"]').removeClass('input-sm').addClass('btn-select').addClass('form-control');

		$("#start_date").datepicker();
		$("#end_date").datepicker();
	});

	$(".paging").on("click",function(){
		var page = $(this).data('page');

		if(page == "#"){
			return false;
		}

		$('#tablePage').val(page);
		$("#tableFilters").submit();
		return false;
	});

	{if $arrSkillsJSON}
		var arrSkills = {$arrSkillsJSON};
		$('#skills').tagsinput({
			itemValue: 'id',
			itemText: 'name',
			typeahead: {
				afterSelect: function(val) {
					this.$element.val('');
				},
				source: arrSkills,
				freeInput: false,
				trimValue: true,
				cancelConfirmKeysOnEmpty: true,
				tagClass: 'tagClass'
			}
		});
	{/if}

	{if $arrSelectedSkillsJSON}
		var arrSelectedSkills = {$arrSelectedSkillsJSON};
		for(i = 0; i < arrSelectedSkills.length; i++)
		{
			$('#skills').tagsinput('add', arrSelectedSkills[i]);
		}
	{/if}

	$('#result-size').on('change', function(){
		$('#size').val($(this).val());
		$("#tableFilters").submit();
	});

</script>
{/block}
