{extends file='common/admin.tpl'}

{block name='page-title'}
	View Session
{/block}

{block name='body'}

<div class="main-content">

	<div class="inner-content container-fluid">

		<pre>
		{$smarty.session|print_r:1}
		</pre>

	</div>
</div>
{/block}
