.margin-left-10 {
	
	margin-left:10px;
	
	
}


/* filter-list */

.filter-list {
	list-style:none;
}

.filter-list li {
	background: #c6dee7;
    padding: 4px;
    border-top: 1px solid #fff;	
}

.filter-list li label {
	width:100%;
	color:#81929d;
}

.filter-list li:hover {
	background:#02a1d8;
	
}

.filter-list li:hover label { 
	color:#fff;
}




/* filter */

.filter {
	display:none;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.88);
    position: fixed;
    top: 0;
    z-index: 9999;
	overflow-y: scroll;
	overflow-x:hidden;
}

.filter-back {
		
    height: 100%;
    width: 100%;
    top: 0;
    
	
}

.filter-content {
	width: 50%;
    background:#fff /*#e0e1e3*/;
   	right:-50%;
    position: absolute;
    top: 0;
	height:100%;
}

.filter-content-title {
	color:#5d5d5d;
	background:#ededed;
	border-bottom: 1px solid #ccc;
	text-transform:uppercase;
	padding:27px 20px;
	font-weight:bold;
}


.filter-close  {
	float:right;
	font-size:22px;
}


.filter-box {
	font-family: 'Open Sans', san-serif;
	background:#fff;
}

.filter-box.first .filter-box-heading {
	padding:20px 20px 20px 10px;
	cursor:pointer;
	
}

.filter-box-heading {
	position:relative;
	padding: 7px 15px 15px 10px;
	border-top: 1px solid #e0e1e3;
	/*background: #bfd9e3; 
	height:50px;*/
}

.filter-box-heading.blue {
	background:#bfd9e3;
}

/*
.checkbox.cust {
	display: block;
    position: absolute;
    top: 0;
}

.expand {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
*/


/*
.filter-box-heading.white {
	background: #fff;
    color: #b5bcc2;	
}
*/


.redBackground{
background-color:red;
}

.filter-box-heading.active {
	background-color: #e0e1e3;
    color: #3c4352; 
    	
}


.filter-box-heading i {
	float: right;
    position: relative;
    top: 15px;
}


.filter-box-heading:after {
  position: absolute;
  right: 20px;
  top: 15px;
  height: 20px;
  width: 20px;
  content: "\f107";
  text-align: center;
  line-height: 20px;
  font-family: FontAwesome;
  color: #3c4352;

}

.filter-box-heading.active:after {
  font-family: 'fontawesome';
  content: "\f106" !important;
}

.filter-box.first .filter-box-heading:after {
	display:none;
}


.filter-box-heading .checkbox.custom {
    display: inline-block;
}


.filter-box-content {
	display: none;
    background: #e0e1e3;
	padding: 10px 20px;
	/*border-top: 1px solid #fff; */
}

.filter-box.first  .filter-box-heading, .filter-box.first  .filter-box-content{
	background-color:#354350;
}

.filter-box.first .checkbox input[type="checkbox"] + span{ 
	color:#fff;	
}



.filter-box .form-group, .filter-box .custom-select {
	margin-bottom:0;
}

.filter-action {
	background: #fff;
    padding: 20px 20px 100px 20px;
	border-top: 1px solid #e0e1e3;
}




/* input-search */


.input-search {
	display: block;
    width: 100%;
    margin: 15px 0;
	height:34px;
    background-color: #496072;
    border: 1px solid #5d768c;
	padding: 10px;
	color:#fff;
	border-radius: 4px;
	
}







/*

.expand {
	float: right;
    position: relative;
    top: 10px;
    right: 12px;
	z-index:999;
}

*/


.datepicker {
	font-family: 'Open Sans', san-serif;
	cursor:pointer;
}



/* input-date */

.input-date {
	font-family: 'Open Sans', san-serif;
	background: url(../images/calendar.png) no-repeat 98%;
	background-color:#fff;
	display: block;
    width: 100%;
    height: 35px;
    border: 1px solid #c6c7c8;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 10px;
}


.text-group {
	position:relative;
}


.btn-plus {
	position: absolute;
    top: 7px;
    right: 10px;
    background: #0097d2;
    padding: 1px 4px;
    color: #fff;
    border: none;
}

.btn-minus {

    background: red;
    padding: 1px 4px;
    color: #fff;
    border: none;
}


/* cpn */

.text-cpn {
	width: 53px;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 25px;
	padding: 4px;
}


.cpn-select {
	border-radius: 4px;
    width: 90px;
    padding: 0 4px;
    height: 25px;
    border: 1px solid #ccc;
    background: #fff url(../images/select_arrow.png) no-repeat 96%;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.cpn-warning {
	color:red;
}

.btn-cpn {
    background: #0097d2;
    padding: 1px 4px;
    color: #fff;
    border: none;
	margin: 0 6px;
}

.cpn-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cpn-list li {
	margin: 0px 20px;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.cpn-list li .btn-minus{
	float:right;
}






/* keyword */

.keyword-list {
	background: #fff;
    margin: 10px 0;
    padding: 10px;
    height: 150px;
    overflow-y: scroll;
}

.keyword-list li {
	border-bottom: 1px solid #ccc;
    margin: 5px 0;
    padding: 8px 0;
}

.keyword-list::-webkit-scrollbar {
    width: 8px;
	background:#c6c7c8;
}
.keyword-list::-webkit-scrollbar-track {
    background: transparent;
}
.keyword-list::-webkit-scrollbar-thumb {
    background: #697781;
	border-radius:4px;
}

.keyword-item {
	border-bottom: 1px solid #ccc;
    padding: 10px 0 20px;
}

.keyword-item span{
	width: 250px;
    display: inline-block;
	
}


.keyword-select {
	padding: 4px 24px 4px 4px;
    height: 27px;
	margin: 0 4px 10px;
    margin-bottom: 10px;
    border: 1px solid #c6c7c8;
    background: #f5f5f5 url(../images/select_arrow.png) no-repeat 96%;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    
    -webkit-appearance: none;
    /* Safari and Chrome */
}



/* sub-checkbox */

.sub-checkbox {
	    background: #eee;
    padding: 5px 0;
}


/* filter-checkbox  */

.checkbox.filter-checkbox {
	margin:5px 0 0 10px;
	display:inline-block;
} 

.checkbox.filter-checkbox label {
    padding-left: 20px;
}
.filter-checkbox input[type="checkbox"] {
    display: none;
	
}
.filter-checkbox input[type="checkbox"] + span {
    padding-left: 10px;
}
.filter-checkbox input[type="checkbox"]+ span:before {
    content: url("../images/custom_check.png");
    position: absolute;
    top: 3px;
    left: 0;
}
.filter-checkbox input[type="checkbox"]:checked + span:before {
    content: url("../images/custom_checked.png");
    position: absolute;
    top: 3px;
    left: 0;
}



.dates {
    max-height: 100px;
}



@media (max-width:992px) {
	
	.filter-content {
		width: 100%;
		right:-100%;
		
	}
	
	.filter-box.first .filter-box-heading {
	padding:20px 15px 20px 15px;
	
	
}
	
	.dates {
    max-height: 175px;
}
	
	.checkbox.filter-checkbox{
		
		margin:10px 0px;
		
		
	}
}
