* {
    margin: 0;
    padding: 0;
}
html,
body,
.sidebar,
.main-content {
    height: 100%;
}
body {
    background: #dedede;
    font-family: 'Raleway', sans-serif;
    color: #545454;
	overflow-y: scroll;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #c1cad1;
    text-transform: uppercase;
}
a {
    color: #2e2e2e;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:hover {
    text-decoration: none;
}
a.bold {
    color: #09a0d7;
    font-weight: bold;
}

.scrollable {
	height: 240px;
    overflow-y: scroll;
	
}

[draggable=true] {
    cursor: move;
}



#mobile-add {
	
	display:none;
	
	
}
/* vertical line */

.vertical-line {
	
	border-left: thin solid #44515a;
	height:30px;
	margin-left:50%;
	margin-top:-20px;
	
}

.horizontal-line {
	
	border-bottom: thin solid #c1cad1;
	margin-top:20px;
	width:100%;
	
	
}

/* table */

.table-title {
	margin: 0;
    
    list-style: none;
    background: #5e6c76;
    color: #fff;
    padding: 10px 20px;
	
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.table-title.no-radius {
	border-radius:0;
}

.table-title li {
	display: inline-block;
}

.table-title a {
	color:#fff;
}



/* background */

.dark-bg {
	background:#4d5b65;
}



.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.inner-content {
    position: relative;
    padding: 150px 20px 20px 20px;
	
}

.inner-content-sub {
    position: relative;
    padding: 120px 20px 20px 20px;
}

.inner-content-nonav {
    position: relative;
    padding: 150px 20px 20px 20px;
	
}

.callflow-content {
    position: relative;
    padding: 0 20px 20px 20px;
	width:100%;
	top:120px;
	margin-bottom:100px;
	
}


.center-btns {
	
	text-align:center;
	margin-left:-130px;
	
}

.side-content {

	top:120px;
	position:fixed;
	max-width:290px;
	height:100%;
	background:#44515a;
	right:0;
	float:right;
	
}




/*  form  */


label {
    font-family: Arial, Sans-serif;
    color: #2e2e2e;
    font-weight: bold;
    font-size: 14px;
}
label span {
    font-weight: 300;
}
.form-group {
    margin-bottom: 20px;
	font-family: 'Open Sans', san-serif;
}

.form-group span {
	
	font-family: Arial, Sans-serif;
    color: #2e2e2e;
    font-weight:300;
    font-size: 14px;
	
	
}
.form-group-inner {
	
	margin:0 auto;
	left:20px;
	top:20px;
	max-width:500px;
	
	
}


.form-group-header {
	
	margin:0 auto;
	
	
	
	
}
.form-control {
    height: 35px;
    font-family: Arial, Sans-serif;
    color: #2e2e2e;
    font-size: 14px;
    box-shadow: none;
    /*margin-bottom:25px;*/
    
    background: #fff;
    border: 1px solid #cfcdcd;
}

.dial-control {
	padding:12px;
    height: 35px;
	width:35px;
    font-family: Arial, Sans-serif;
    color: #fff;
    font-size: 14px;
    box-shadow: none;
    background: #4d5b65;
    border: 1px solid #cfcdcd;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-top: 4px;
	-moz-border-radius-bottom: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.dial-control[disabled],
.dial-control[readonly] {
    opacity: 0.6;
    cursor: not-allowed;
    border: 1px solid #e8e8ea;
}
.dial-control::-webkit-input-placeholder {
    color: #dedede;
}
.dial-control:-moz-placeholder {
    color: #dedede;
}
.dial-control::-moz-placeholder {
    color: #dedede;
}
.dial-control:-ms-input-placeholder {
    color: #dedede;
}



input[type="text"].form-control.styled {
    border: 1px solid #e8e8ea;
    background: #f5f5f5;
}
.custom-select {
    margin-bottom: 10px;
    border: 1px solid #cfcdcd;
    background: #fff url(../images/select_arrow.png) no-repeat 96%;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    
    -webkit-appearance: none;
    /* Safari and Chrome */
}
.custom-select[disabled],
.custom-select[readonly] {
    cursor: not-allowed;
    border: 1px solid #e8e8ea;
    background: #f5f5f5 url(../images/select_arrow.png) no-repeat 96%;
    opacity: 0.6;
}
.form-control[disabled],
.form-control[readonly] {
    opacity: 0.6;
    cursor: not-allowed;
    border: 1px solid #e8e8ea;
}
.form-control::-webkit-input-placeholder {
    color: #dedede;
}
.form-control:-moz-placeholder {
    color: #dedede;
}
.form-control::-moz-placeholder {
    color: #dedede;
}
.form-control:-ms-input-placeholder {
    color: #dedede;
}
/* help-block */

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    color: red;
}
.has-error .form-control {
    border-color: red;
}
select[multiple] option {
    padding: 6px 0;
}
select[multiple] option::before {
    font-family: 'FontAwesome';
    content: "\f146";
    margin-right: 10px;
    color: #ff0000;
}
select[multiple].custom-select {
    border: 1px solid #e8e8ea;
    background: #f5f5f5 url(../images/select_arrow.png) no-repeat 96% 7px;
}
select[multiple]::-webkit-scrollbar {
    width: 4px;
}
select[multiple]::-webkit-scrollbar-track {
    background: transparent;
}
select[multiple]::-webkit-scrollbar-thumb {
    background: #697781;
}


.checkbox-input {
	
	padding-left:0px;
	color:#000;
	font-family: 'Open Sans', san-serif;
	
}

.checkbox-input-alone {
	
	padding-left:12%;
	padding-top:30px;
	color:#000;
	
}


.checkbox-callflow {
	
	padding-left:15px;
	color:#000;
	
}


.checkbox-callflow span {
	
	font-family: 'Open Sans', san-serif;
	
}
/* checkbox custom  */

.checkbox.custom {} .checkbox.custom label {
    padding-left: 27px;
    font-size: 12px;
}
.custom input[type="checkbox"] {

}
.custom input[type="checkbox"] + span {
       padding-left: 4px;
	   font-size:14px;
}
.custom input[type="checkbox"]+ span:before {

    position: absolute;
    top: 0;
    left: 10px;
}
.custom input[type="checkbox"]:checked + span:before {
    position: absolute;
    top: 0;
    left: 0;
}


.inner-select {
    margin-bottom: 10px;
	width:40px;
	border: 1px solid #cfcdcd;
    background: #fff url(../images/select_arrow.png) no-repeat 96%;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    
    -webkit-appearance: none;
    /* Safari and Chrome */
}

.inner-select-small {
    margin-bottom: -20px;
	margin-top: -10px;
	padding:-5px;
	width:40px;
	border: none;
    background: #fff url(../images/select_arrow.png) no-repeat 96%;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    
    -webkit-appearance: none;
    /* Safari and Chrome */
}

/* default checkbox  */
.checkbox input[type="checkbox"] + span {
    font-size:14px;
}
.checkbox input[type="checkbox"]+ span:before {
    position: absolute;
    top: 0;
    left: 10px;
}
.checkbox input[type="checkbox"]:checked + span:before {
    position: absolute;
    top: 0;
    left: 10px;
}

.filter-search {
	font-weight: normal;
    display: block;
    width: 100%;
    height: 35px;
	margin:0 auto;
    margin-bottom: 20px;
	background: url(../images/inner_search.png) no-repeat 97% 7px;
	background-color:#fff;
    
}

/* inner-search */

.inner-search {
	font-weight: normal;
    display: block;
    width: 100%;
	max-width: 520px;
    height: 35px;
	margin:0 auto;
    margin-bottom: 20px;
	background: url(../images/inner_search.png) no-repeat 97% 7px;
	background-color:#fff;
    
}

.header-search {
	font-weight: normal;
    display: inline;
    width: 40%;
	max-width: 200px;
    height: 30px;
	margin:0 auto;
    margin-left:10px;
	background: url(../images/inner_search.png) no-repeat 97% 7px;
	background-color:#fff;
    
}

/* select-box */

.select-box {
	overflow-y: scroll;
    height: 350px;
	background: #fff;
    padding: 5px 0;
    display: block;
    
}

.select-box-filter {
	overflow-y: scroll;
    height: 200px;
	background: #fff;
    padding: 5px 0;
    display: block;
    
}


.select-box .selected {
	
	color:#222;
}

.select-box-drag {
	overflow-y: scroll;
    height: 300px;
	padding: 0;
    display: block;
	background-color:#ccc;
	
}

.select-box-dragto {
	overflow-y: scroll;
    height: 300px;
	padding: 0;
    display: block;
	background-color:#fff;
	
}

.select-box-dragto ul li{
	list-style-type: none;
	background-color:#fff;
	padding:20px;
	
	
}

.select-box-drag ul li {
	
	list-style-type: none;
	background-color:#fff;
	padding:20px;
	border-bottom: 1px solid #ccc;
	
}

.separator {
	
	border-bottom: 1px solid #ccc;
	margin-top:20px;
	margin-bottom:30px;
}

.long-line {
	
	margin:auto;
	border-bottom: 1px solid #000;
	margin-bottom:20px;
	max-width:93.4%;
	
}


/* Buttons */

.btn {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
}

#device-btn-mobile, #user-btn-mobile, #buy-btn-mobile {
	
	display:none;
		
	}
	
.btn-agent-info {
	
	cursor: pointer;
	border-radius: 4px;
	padding: 10px 15px;
    background-color: hsl(195, 82%, 41%) !important;
  	background-repeat: repeat-x;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1bb5e8", endColorstr="#1293be");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1bb5e8), to(#1293be));
  background-image: -moz-linear-gradient(top, #1bb5e8, #1293be);
  background-image: -ms-linear-gradient(top, #1bb5e8, #1293be);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1bb5e8), color-stop(100%, #1293be));
  background-image: -webkit-linear-gradient(top, #1bb5e8, #1293be);
  background-image: -o-linear-gradient(top, #1bb5e8, #1293be);
  background-image: linear-gradient(#1bb5e8, #1293be);
  border-color: #1293be #1293be hsl(195, 82%, 38.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-agent-info:hover {
	border-radius: 4px;
	padding: 10px 15px;
    background-color: hsl(195, 82%, 61%) !important;
  background-color: hsl(196, 100%, 60%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#65d6ff", endColorstr="#32c8ff");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#65d6ff), to(#32c8ff));
  background-image: -moz-linear-gradient(top, #65d6ff, #32c8ff);
  background-image: -ms-linear-gradient(top, #65d6ff, #32c8ff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #65d6ff), color-stop(100%, #32c8ff));
  background-image: -webkit-linear-gradient(top, #65d6ff, #32c8ff);
  background-image: -o-linear-gradient(top, #65d6ff, #32c8ff);
  background-image: linear-gradient(#65d6ff, #32c8ff);
  border-color: #32c8ff #32c8ff hsl(196, 100%, 57.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-custom {
	
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	text-transform:uppercase;
	border-radius: 4px;
	padding: 10px 15px;
	margin-right:1px;
	font-weight:600;
	font-size:12px;
   background-color: hsl(195, 82%, 41%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1bb5e8", endColorstr="#1293be");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1bb5e8), to(#1293be));
  background-image: -moz-linear-gradient(top, #1bb5e8, #1293be);
  background-image: -ms-linear-gradient(top, #1bb5e8, #1293be);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1bb5e8), color-stop(100%, #1293be));
  background-image: -webkit-linear-gradient(top, #1bb5e8, #1293be);
  background-image: -o-linear-gradient(top, #1bb5e8, #1293be);
  background-image: linear-gradient(#1bb5e8, #1293be);
  border-color: #1293be #1293be hsl(195, 82%, 38.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-custom:hover {
	border-radius: 4px;
	margin-right:1px;
	padding: 10px 15px;
	box-shadow: 0px 0px 3px #5c5c5c;
    background-color: hsl(195, 82%, 61%) !important;
	text-transform:uppercase;
	font-weight:600;
	font-size:12px;
  background-color: hsl(196, 100%, 60%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#65d6ff", endColorstr="#32c8ff");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#65d6ff), to(#32c8ff));
  background-image: -moz-linear-gradient(top, #65d6ff, #32c8ff);
  background-image: -ms-linear-gradient(top, #65d6ff, #32c8ff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #65d6ff), color-stop(100%, #32c8ff));
  background-image: -webkit-linear-gradient(top, #65d6ff, #32c8ff);
  background-image: -o-linear-gradient(top, #65d6ff, #32c8ff);
  background-image: linear-gradient(#65d6ff, #32c8ff);
  border-color: #32c8ff #32c8ff hsl(196, 100%, 57.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-green {
	cursor: pointer;
    font-family: 'Raleway', sans-serif;
  border-radius: 4px;
	padding: 10px 18px;
	margin-right:1px;
	background-color: hsl(157, 100%, 28%) !important;
	text-transform:uppercase;
	font-weight:600;
  background-repeat: repeat-x;
  font-size:12px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d684", endColorstr="#008e58");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00d684), to(#008e58));
  background-image: -moz-linear-gradient(top, #00d684, #008e58);
  background-image: -ms-linear-gradient(top, #00d684, #008e58);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00d684), color-stop(100%, #008e58));
  background-image: -webkit-linear-gradient(top, #00d684, #008e58);
  background-image: -o-linear-gradient(top, #00d684, #008e58);
  background-image: linear-gradient(#00d684, #008e58);
  border-color: #008e58 #008e58 hsl(157, 100%, 24.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
}

.btn-green:hover {
	
    font-family: 'Raleway', sans-serif;
  	border-radius: 4px;
	padding: 10px 18px;
	margin-right:1px;
	background-color: hsl(157, 100%, 28%) !important;
	text-transform:uppercase;
	font-weight:600;
	box-shadow: 0px 0px 3px #5c5c5c;
  background-color: hsl(158, 88%, 46%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#48f3b4", endColorstr="#0edc90");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#48f3b4), to(#0edc90));
  background-image: -moz-linear-gradient(top, #48f3b4, #0edc90);
  background-image: -ms-linear-gradient(top, #48f3b4, #0edc90);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48f3b4), color-stop(100%, #0edc90));
  background-image: -webkit-linear-gradient(top, #48f3b4, #0edc90);
  background-image: -o-linear-gradient(top, #48f3b4, #0edc90);
  background-image: linear-gradient(#48f3b4, #0edc90);
  border-color: #0edc90 #0edc90 hsl(158, 88%, 42%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
  -webkit-font-smoothing: antialiased;
}

.btn-red {
	cursor: pointer;
    font-family: 'Raleway', sans-serif;
  border-radius: 4px;
	padding: 10px 18px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
  background-color: hsl(347, 100%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff053b", endColorstr="#b20026");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff053b), to(#b20026));
  background-image: -moz-linear-gradient(top, #ff053b, #b20026);
  background-image: -ms-linear-gradient(top, #ff053b, #b20026);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff053b), color-stop(100%, #b20026));
  background-image: -webkit-linear-gradient(top, #ff053b, #b20026);
  background-image: -o-linear-gradient(top, #ff053b, #b20026);
  background-image: linear-gradient(#ff053b, #b20026);
  border-color: #b20026 #b20026 hsl(347, 100%, 31%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
  -webkit-font-smoothing: antialiased;
}
.btn-red:hover {
	cursor: pointer;
    font-family: 'Raleway', sans-serif;
  border-radius: 4px;
	padding: 10px 18px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
	box-shadow: 0px 0px 3px #5c5c5c;
  background-color: hsl(347, 100%, 54%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6587", endColorstr="#ff1447");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff6587), to(#ff1447));
  background-image: -moz-linear-gradient(top, #ff6587, #ff1447);
  background-image: -ms-linear-gradient(top, #ff6587, #ff1447);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6587), color-stop(100%, #ff1447));
  background-image: -webkit-linear-gradient(top, #ff6587, #ff1447);
  background-image: -o-linear-gradient(top, #ff6587, #ff1447);
  background-image: linear-gradient(#ff6587, #ff1447);
  border-color: #ff1447 #ff1447 hsl(347, 100%, 50%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
  -webkit-font-smoothing: antialiased;

}

.btn-dial {
	cursor: pointer;
    font-family: 'Raleway', sans-serif;
  	border-radius: 4px;
	
	
	background-color: hsl(157, 100%, 28%) !important;
	text-transform:uppercase;
	font-weight:600;
  background-repeat: repeat-x;
  font-size:12px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00d684", endColorstr="#008e58");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00d684), to(#008e58));
  background-image: -moz-linear-gradient(top, #00d684, #008e58);
  background-image: -ms-linear-gradient(top, #00d684, #008e58);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00d684), color-stop(100%, #008e58));
  background-image: -webkit-linear-gradient(top, #00d684, #008e58);
  background-image: -o-linear-gradient(top, #00d684, #008e58);
  background-image: linear-gradient(#00d684, #008e58);
  border-color: #008e58 #008e58 hsl(157, 100%, 24.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
}

.btn-dial:hover {
	
    font-family: 'Raleway', sans-serif;
  	border-radius: 4px;

	
	background-color: hsl(157, 100%, 28%) !important;
	text-transform:uppercase;
	font-weight:600;
	box-shadow: 0px 0px 3px #5c5c5c;
  background-color: hsl(158, 88%, 46%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#48f3b4", endColorstr="#0edc90");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#48f3b4), to(#0edc90));
  background-image: -moz-linear-gradient(top, #48f3b4, #0edc90);
  background-image: -ms-linear-gradient(top, #48f3b4, #0edc90);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48f3b4), color-stop(100%, #0edc90));
  background-image: -webkit-linear-gradient(top, #48f3b4, #0edc90);
  background-image: -o-linear-gradient(top, #48f3b4, #0edc90);
  background-image: linear-gradient(#48f3b4, #0edc90);
  border-color: #0edc90 #0edc90 hsl(158, 88%, 42%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
  -webkit-font-smoothing: antialiased;
}

.btn-hide-content {
	
	cursor:pointer;
	font-family: 'Open Sans', san-serif;
	color:#03a1d8;
	font-size:12px;

	
}

.btn-header {
	
	color:#fff;
	
}

.btn-header:hover {
	
	color:#aeb6bc;
	
	
}

.btn-header:focus {
	
	color:#aeb6bc;
	
	
}

/* sidebar */

.sidebar {
    width: 0px;
    background: #2e2e2e;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 400;
	overflow-y:auto;
}

.sidebar-collapse {
    width: 240px;
    background: #2e2e2e;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 400;
}



a.button-toggle {
    position: absolute;
    font-size: 20px;
    top: 20px;
	z-index:20;
	color:#2e2e2e;
}

a.button-toggle-white {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 20px;
	z-index:20;
	color:#fff;
	display:none;
}


.logo {
    padding: 20px;
}

/* sidebar-menu */

.sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
	
	
}
.sidebar-menu li {
	position:relative;
	
}



.sidebar-menu li a {
    color: grey;
	text-transform: uppercase;
    font-size: 12px;
    display: block;
    padding: 20px 0 20px 30px;
    border: none;
    font-weight: 500;
}
.sidebar-menu li a:hover {
    text-decoration: none;
	color:#fff;
	background: #3a3a3a;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    font-weight: 500;


}
.sidebar-menu li.active {
    border-left: 3px solid #09a0d7;

	background-color:#3a3a3a;
}



.sidebar-menu li.active a {
    
	
    text-transform: uppercase;
    font-size: 12px;
    background: #3a3a3a !important;
    display: block;
    font-weight: 500;
    text-decoration: none;
}
.sidebar-menu li ul li a{
    text-transform: capitalize !important;
    padding: 7px 0px 7px 54px !important;
	
}

.sidebar-menu li a:focus {
    text-transform: uppercase;
    font-size: 12px;
    background: #2e2e2e;
    display: block;
    font-weight: 500;
    text-decoration: none;
}
.sidebar-menu li a i {
    margin-right: 10px;
}
.sidebar-menu li a .badge {
    vertical-align: bottom;
    margin-left: 10px;
    background-color: red;
    width: 22px;
    height: 22px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    border-radius: 50%;
}


/* submenu */


.sidebar-menu li ul.sub-menu {
	display:none;
}

.sidebar-menu li ul.sub-menu li a{
	padding: 10px 0px 5px 53px !important;
	text-transform:capitalize;
	background: #2e2e2e;
}




.sidebar-menu li.selected ul.sub-menu li a, .sidebar-menu li.selected a {
	background: #222;
}


.sidebar-menu li.active.selected ul.sub-menu li a{
	color: #797878;
}

.sidebar-menu li.active.selected ul.sub-menu li a:hover{
	color: #fff;
}

.sidebar-menu li.active.selected ul.sub-menu li.active a {
	color:#797878;
}

a.select{
    color: #ffffff !important;
}

/* sub menu arrows */
.sidebar-menu  li.has-sub:after {
	position: absolute;
	right: 20px;
	top: 15px;
	height: 12px;
	width: 12px;
	text-align: center;
	line-height: 20px;
	font-family: fontawesome;
	content: "\f107"!important;
	color:#797878;
	font-size: 16px;
}

.sidebar-menu  li.has-sub.selected:after {
	font-family: 'fontawesome';
	content: "\f106" !important;
	color: #797878;
	font-size: 16px;
}	


/* modal sub nav */

.modal-sub-nav {
	
	font-family: "Open Sans", sans-serif;
	background-color:#697780;
	
	
}


.modal-subnav-item {
	
	color:#aeb6bc;
	padding-right:40px;
	
	
}

.modal-subnav-item:hover {
	
	color:#fff;
	
}

.device-info-list {
	margin:0;
	padding:0;
	list-style:none;
	padding-bottom:20px;
	padding-top:15px;
	text-align:left;
	padding-left:40px;
	
}

.device-info-list li {
	display: inline-block;
    font-weight: bold;
    color: #fff;
	padding-right:50px;
	
}

.device-info-list li span {
	font-weight:normal;
}



/* drag group box */


.drag-group-list {
	margin:0;
	padding:0;
	list-style:none;
	padding-bottom:20px;
	padding-top:15px;
	text-align:left;
	padding-left:20px;
	
}

.drag-group-list li {
	display: inline-block;
    font-weight: bold;
    color: #fff;
	
	
}

.drag-group-list li span {
	font-weight:normal;
}


.drag-subnav-item {
	
	color:#fff;
	
}



/* agent-nav */

.agent-info {
	font-family: "Open Sans", sans-serif;
	background: #dedede;
    padding: 15px 20px;
	max-width:1440px;
	margin:0 auto;
	margin-top:12px;
	
}

.agent-info-list {
	margin:0;
	padding:0;
	list-style:none;
	
}

.agent-info-list li {
	display: inline-block;
    font-weight: bold;
    color: #697781;
	padding-right:50px;
	
}

.agent-info-list li span {
	font-weight:normal;
}


/* underline active */

.underline-active {
	
	border-top: 3px solid #03a1d8;

	width:50px;

}


/* subnav */
.subnav {
	font-family: 'Open Sans', san-serif;
	font-weight:600;
	color: #03a1d8;
	padding:0 50px 0 0;
	cursor:pointer;
}

.subnav-active {
	font-weight:600;
	color: #4d5b65;
	padding:0 50px 0 0;
}


/*  header */

.header {
    background: #fff ;
    padding: 25px;
    position: fixed;
    width: 100%;
     z-index: 300;
    /*box-shadow: 0px 0px 6px rgba(0,0,0,0.3);*/
	box-shadow: -3px 2px 8px rgba(0,0,0,.5);
    
    border-bottom: 1px solid #e4e5e7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header .welcome {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 20px;
    padding-left: 10px;
    max-height: 68px;
}
.header .button-toggle {
    font-size: 20px;
    color: #807f7f;
}

.header .top-logo {
	position: fixed;
    right: 18px;
    top: 22px;
}

.header .top-logo-small {
	position: fixed;
    right: 18px;
    top: 22px;
	display:none;
}




/* page-title */

.page-title {
	
	z-index:200;
    padding-top: 64px;
	position:fixed;
	width:100%;
}
/* main-content */

.main-content {
    margin-left: 0px;
	
}
.main-content.content-collapse {
    margin-left: 240px;
	
}

span.heading {
	font-family: "Open Sans", sans-serif;
   	margin-left:5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    
}

.page-count {
	
	color:#697780;
	text-align:right;
	left:30px;
    
}

.heading a {
    font-weight: bold;
    color: #2e2e2e;
}
.settings {
	
	border-bottom: 1px solid #fff;
    text-align: left;
	font-weight:600;
    font-size: 12px;
    text-transform: uppercase;
    background: #565656;
    color: #fff;
}

.top-btns {
	
	top:68px;
	position:fixed;
	right:40px;
	margin-right:0px;
	text-align:right;
	padding-top:21px;
	float:right;
	
}

.top-drop {
	
	top:67px;
	position:fixed;
	right:0px;
	margin-right:15px;
	text-align:right;
	padding-top:21px;
	float:right;
	
}





.form-control-header {
	cursor:pointer;
	height: 32px;
	margin-top:15px;
    font-family: 'Open Sans', san-serif;
    color: #fff;
    font-size: 12px;
    box-shadow: none;
	
    /*margin-bottom:25px;*/
	
    background: #565656;
    border: none;
	
	
	
}

.form-control-date {
	cursor:pointer;
	height: 32px;
	margin-top:15px;
    font-family: 'Open Sans', san-serif;
    color: #fff;
    font-size: 12px;
    box-shadow: none;
	text-transform:uppercase;
    /*margin-bottom:25px;*/
	background:none;

    border: none;
	
	
	
}

.form-control-results {
	
cursor:pointer;
	font-family: 'Open Sans', san-serif;
	height: 32px;
	margin-left:5px;
	 font-size: 12px;
    box-shadow: none;
	 background: #aeb6bc;
    border: none;
	
	

}

/* Top Widgets */

.widgetbtn {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 0px 5px;
    display: inline-block;


}
.widgetbtn i {
    display: inline-block;
}
.widgetbtn:hover {
    
    color: #818080;
}


.widgetbtn span {
	
	color:#fff;
	background-color:red;
	
	
	
}

/* messages */

.messages {} .msg-alert {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    font-family: Arial, sans-serif;
    background: #697781;
    padding: 20px;
    
}
.msg-alert i {
    margin-right: 5px;
}

.msg-alert a{
	padding-left:40px;
	color: #fff;
    font-weight: 300;
}

.msg-alert a:hover {
    font-weight: 600;
}

@media (max-width: 410px) {
    .msg-alert a{
	padding-left:10px;
}
}


.messages-list {
    /* height:273px;
	overflow-y: scroll;	*/
}
.messages-list hr {
    margin: 0;
}
.message {
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: relative;
    padding: 25px;
    
}
.message a.unread {
    color: #2d343f;
}
.message a.red {
    color: #818080;
}
.message a:hover {
    text-decoration: none;
}
.message.last {
    border: none;
}
.message p {
    margin: 0;
}
.message .details {
    width: auto;
}
i.unread {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/unread.jpg) no-repeat;
}
i.opened {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../images/opened.png) no-repeat;
}
.message .checkbox {
    float: left;
    margin-top: 0px;
}
.message .details {
    float: left;
}
.message .msg-info {
    float: right;
    text-align: right;
}
.message .msg-info span {
    display: block;
}
.message .msg-info span.time {
    font-weight: bold;
}
.message.unread {
    background: #d1e6f2;
	border-bottom: 1px solid #fff;
	
}
.message span.msg-heading {
    font-weight: bold;
	
	
}
.btn-msg {
    position: absolute;
    right: 10px;
    top: 28px;
    font-size: 20px;
    color: #818080;
    cursor: pointer;
}
@media (max-width: 410px) {
    .message .msg-info {
        font-size: 10px;
    }
}
/* message-cta */

.message-cta {
    padding: 20px 20px;
	background-color:#fff;
	border-top: 1px solid #ebebeb;
}
.messages-list::-webkit-scrollbar {
    width: 4px;
}
.messages-list::-webkit-scrollbar-track {
    background: transparent;
}
.messages-list::-webkit-scrollbar-thumb {
    background: #697781;
}
/* message-details */

.message-details {
    max-width: 91%;
    margin: 0 auto;
    padding: 20px 0;
}
.message-from {
    border-bottom: 1px solid #fff;
}
.message-from span {
    display: block;
    margin-bottom: 10px;
}
.message-content {
    padding: 40px 0;
}
.message-content a {
    color: #09a0d7;
    font-weight: bold;
}

/* Dropdown Button */


.dropbtn {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 0px 10px;
    display: inline-block;
	

}
.dropbtn i {
    display: inline-block;
}
.dropdown:hover .dropbtn {
    
    color: #818080;
}
.dropdown {
    position: relative;
    display: inline-block;
	
}
.dropdown-content {
    text-align: left;
	font-family: "Open Sans", sans-serif;
    display: none;
    position: absolute;
    right: 5px;
    background-color: #fff;
    border: 1px solid #d7d9da;
    min-width: 282px;
    box-shadow: -1px 3px 9px rgba(4, 25, 55, 0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: 9;
}
.dropdown-content:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #d7d9da;
    position: absolute;
    top: -7px;
    right: 13px;
}
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown a .badge {
    vertical-align: bottom;
    margin-left: 0px;
	margin-top:-5px;
    background-color: red;
    width: 22px;
    height: 22px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    border-radius: 50%;

}
/* custom-upload */

.custom-upload {
    padding-bottom: 25px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    border: 1px solid #d7d9da;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.custom-upload #upload {
    display: none;
}
.custom-upload #upload_link {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ebebed;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}


/* user-box */

.user-box {
    width: 100%;
    display: inline-block;
    color: #222;
    padding: 10px;
}
.user-box-inner {
    width: 50%;
    float: left;
    display: inline-block;
}
.user-box-inner img.user-image {
    padding: 4px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.user-box-inner img.user-company {
    float: right;
    border: 1px solid #d7d9da;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-user {
    border: 1px solid #fff;
    background: #09a0d7;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 500;
    padding: 20px 0;
    font-size: 12px;
    border-radius: 0;
    text-align: center;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
    margin: 0;
}
.btn-user:hover {
    color: #fff!important;
    background-color: #3b6897;
}
.btn-user:focus {
    color: #fff!important;
    background-color: #2d343f;
}

.btn-out {
    background: #09a0d7;
    /*background:#3b6897;*/
    
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 500;
    padding: 20px 0;
    font-size: 12px;
    border-radius: 0;
    text-align: center;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #fff;
    margin: 0;
}
.btn-out:hover {
    color: #fff!important;
    background-color: #3b6897;
}
.btn-out:focus {
    color: #fff!important;
    background-color: #2d343f;
}

/* user-upload */

.user-upload {
    float: left;
    margin-right: 20px;
	margin-bottom:30px;
    background: #e8e8ea;
    padding: 10px;
    border: 1px solid #d7d9da;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}
.image-upload {
    position: relative;
}
.image-upload img {
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.image-upload #upload {
    display: none;
}
.image-upload #upload_link {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding: 5px 0;
}
@media (max-width: 480px) {
    .user-upload {
        float: none;
        display: inline-block;
		margin-bottom:15px;
    }
}


/* switch */

.switch {
    margin: 10px 0;
}
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
input.cmn-toggle-round + label {
    padding: 2px;
    width: 65px;
    height: 34px;
    background-color: #fff;
    border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #e6e6e6;
    border-radius: 60px;
    transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
    width: 34px;
    background-color: #f5f5f5;
    border-radius: 100%;
    transition: margin 0.4s;
    border: 1px solid #b7b7b7;
}
input.cmn-toggle-round:checked + label:before {
    background-color: #00973e;
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 30px;
}


/* profile */

.profile {} .group-title {
    color: #222;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    display: block;
	
}

.user-profile-info {
	
	font-family: "Open Sans", sans-serif;
	
}

/* user-info */

.user-info {
    color: #878686;
    font-size: 11px;
    padding: 0 10px 15px;
}
.user-info h5 {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}
.user-info span {
    display: block;
}
.action-box {
    width: 100%;
    color: #878686;
}
.action-box-inner {
    width: 50%;
    float: left;
    display: inline-block;
}

.user-info a {
	
	color:#15ace1;
	display:inline;
	
}

/* stats */

.stats {
    background: #fff;
    text-align: center;
    border: 1px solid #e8e8ea;
    padding: 12px 0;
    margin-bottom: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.stats .count {
    font-family: arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #09a0d7;
    line-height: 36px;
}
.stats .label {
    text-transform: uppercase;
    color: #222222;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
}


/* center-box */

.center-box {
    max-width: 370px;
    margin: 0 auto;
    padding: 20px 0;
}
.center-box.no-padd {
    padding: 0 20px;
}
.center-box.padd-tb-50 {
    padding: 50px 20px;
}



/* box */

.box-small {
    background: #efefef;
	padding: 2px 2px 0;
    border: 1px solid #cfcdcd;
	margin:0 auto;
    margin-bottom:20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	max-width:520px;
	
}

.box-add {
    background: #efefef;
	padding:20px;
	font-weight:600;
    border: 1px solid #cfcdcd;
	border-style:dashed;
	margin:0 auto;
    margin-bottom:20px;
   	max-width:230px;
}

.box-add span {
	
	
	text-transform:uppercase;
	
}

.box-added {
    background: #44515a;
	padding:20px;
	font-weight:600;
    border: 1px solid #fff;
	border-style:solid;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	border-radius: 6px;
	margin:0 auto;
    margin-bottom:20px;
   	max-width:230px;
}

.box-added-small {
    background: #44515a;
	padding:5px;
	font-weight:600;
	font-size:12px;
    border: 1px solid #fff;
	border-style:solid;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	border-radius: 6px;
	margin:0 auto;
    margin-bottom:20px;
   	max-width:230px;
}
.box-added span {
	
	
	text-transform:uppercase;
	
}

.added-content {
	
	color:#fff;
	width:100%;
	text-align:center;
	
}

#add-endpoint, #endpoint-added {
	
	display:none;
	
}

.box-label {
	
	
	left:auto;
	
	
}


.box-drag {
	
	text-align:center;
	
	background: #dedede;
	padding-top:20px;
    border: 1px solid #cfcdcd;
	margin:5px;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	width:105px;
	height:85px;
	font-weight:600;
	font-size:13px;
}

.box-drag span {
	
	
	text-transform:uppercase;
	
	
}


.dial-out {
	
	text-align:center;

	padding-top:20px;
    border: 1px solid #cfcdcd;
	margin:5px;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	width:75px;
	height:75px;
	font-weight:600;
	font-size:13px;
}

.dial-out span {
	
	
	text-transform:uppercase;
	
	
}




.box-medium {
    background: #efefef;
	padding: 2px 2px 0;
    border: 1px solid #cfcdcd;
    margin-bottom:20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	max-width:1440px;
}



.box {
    background: #efefef;
	padding: 2px 2px 0;
    border: 1px solid #cfcdcd;
    margin: 0 auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	max-width:1440px;
	
}

.box-noback {
    
	padding:0;
   
    margin: 0 auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	max-width:1440px;
}
.box-title {
    position: relative;
	font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background: #aeb6bc;
    
    padding: 18px 20px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.heading-label {
    position: relative;
	margin-top:2px;
	margin-left:20px;
	width:40%;
	font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding-bottom:8px;
   
}

.heading-title {
    position: relative;
	margin-left:5px;
	margin-top:10px;
	width:40%;
	font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 30px;
   
}
.box-title .btn-group {
    position: absolute;
    top: 15px;
    right: 20px;
}
.box-content {
    color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	
}

.box-content-small {
	color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	
}

.box-content-medium {
	color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	
	
	
}

.box-content-tall {
	color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	height:280px;
	
	
}

.box-content-tall2 {
	color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	height:280px;
	font-family: "Open Sans", sans-serif;
	
	
}

/* endpoint header */

.endpoint-header {
	
	font-family: "Open Sans", sans-serif;
	font-size:16px;
	color:#a4adb4;
	text-transform:uppercase;
	margin:0;
	padding-top:20px;
	padding-bottom:20px;
	list-style:none;
	text-align:center;
	
}

.endpoint-header span {
	
	font-family: "Open Sans", sans-serif;
	font-size:12px;
	color:#fff;
	text-transform:none;
	margin:0;
	padding-top:20px;
	padding-bottom:20px;
	list-style:none;
	text-align:center;
	
}
	
	
/* add number btn */

.add-number {
	font-family: "Open Sans", sans-serif;
	margin:0;
	padding-top:20px;
	padding-bottom:20px;
	list-style:none;
	text-align:center;
}

.add-number a {
	
	position:relative;	
	color: #18a0d8;
    font-size: 12px;
    font-weight: 600;
}

.add-number a:hover {
		
	color: #fff

}
/* calltime-list  */

.calltime-list {
	font-family: "Open Sans", sans-serif;
	margin:0;
	padding:0;
	list-style:none;
}

.calltime-list li {
	position:relative;	
	color: #18a0d8;
    font-size: 28px;
    font-weight: 600;
	text-transform:uppercase;
    padding: 26px 20px;
    border-bottom: 1px solid #aeb6bc;
}



.calltime-list li:last-child {
	border-bottom:none;
}



.calltime-list li span{
	display:block;	
	font-weight: normal;
	font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.calltime-list li a{
	position:relative;	
	color: #18a0d8;
    font-size: 34px;
    font-weight: 600;
	text-transform:uppercase;
    
    
}

.calltime-list li a:hover{
	position:relative;	
	color: #fff;

}


/* user-list  */

.user-list {
	font-family: "Open Sans", sans-serif;
	margin:0;
	padding:0;
	list-style:none;
}

.user-list li {
	position:relative;	
	color: #18a0d8;
    font-size: 28px;
    font-weight: 600;
	text-transform:uppercase;
    padding: 28px 20px;
    border-bottom: 1px solid #aeb6bc;
}



.user-list li:last-child {
	border-bottom:none;
}



.user-list li span{
	display:block;	
	font-weight: normal;
	font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.user-list li a{
	position:relative;	
	color: #18a0d8;
    font-size: 18px;
    font-weight: 600;
	text-transform:uppercase;
    
    
}

.user-list li a:hover{
	position:relative;	
	color: #fff;

}

/* disposition-list  */

.disposition-list {
	font-family: "Open Sans", sans-serif;
	margin:0;
	padding:30px;
	list-style:none;
}

.disposition-list li {
	position:relative;	
	color: #18a0d8;
    font-size: 28px;
    font-weight: 600;
	text-transform:uppercase;
    padding: 5px 10px;
    
}



.disposition-list li:last-child {
	border-bottom:none;
}



.disposition-list li span{
	display:block;	
	font-weight: normal;
	font-size: 12px;
    text-transform: uppercase;
    color: #2e2e2e;
}

.disposition-list li a{
	position:relative;	
	color: #18a0d8;
    font-size: 14px;
    font-weight: 600;
	text-transform:uppercase;
    
    
}

.disposition-list li a:hover{
	position:relative;	
	color: #4d5b65;

}



/* sentiment */ 

.sentiment-chart {
	position: relative;
    width: 136px;
    height: 136px;
    margin: 0 auto;
    background: #fff;
    border-radius: 100px;
}

.sentiment-chart span {
	 color: #569b6a;
    font-weight: bold;
    font-size: 26px;
    position: absolute;
    top: 50px;
    left: 34px;
}

span.sentiment {
	background: #5dbd58;
    color: #fff;
    padding: 2px 4px;
	 border-radius: 4px;
}


/* inner-box */

.inner-box {
    width: 100%;
    font-family: Arial, sans-serif;
}
.inner-box hr {
    margin-top: 0;
    border-top: 1px solid #e8e8ea;
}
.full {
    padding: 50px 20px;
	
}
.full .form-group {
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 20px;
	
}



.top-padding-30 {
	
	padding-top:30px;
	
	
}

.full .form-group.large {
    max-width: 853px;
}
.one-half {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.one-half.first {
    border-right: 1px solid #e8e8ea;
}


/* chart-box */

.chart {
	position:relative;
	float:left;
	border-radius: 73px;
    padding: 0;
    width: auto;
    height: 53px;
    margin: 10px;
	background:#fff;
}


.chart-box {
	
	padding-top:20px;
	padding-bottom:20px;
	
	
}


.chart span {
	position: absolute;
    top: 18px;
    left: 17px;
    font-size: 12px;
    font-weight: bold;
}

.chart.negative {
	color:#fa6969;
}

.chart.positive {
	color:#569b6a;
}

.chart.neutral {
	color:#e8c567;
}

.chart-details {
	position:relative;
	font-family: "Open Sans", sans-serif;
	color: #fff;
    margin-left: 50px;
    padding: 10px 10px;
    
}

.chart-details a {
	position:relative;
	font-family: "Open Sans", sans-serif;
	color: #18a0d8;

    
}

.chart-details a:hover {
	position:relative;
	font-family: "Open Sans", sans-serif;
	color: #fff;
 
    
}


.chart-details2 {
	position:relative;
	color: #fff;
    margin-left: 60px;
    padding: 17px 10px;
}

.chart-details2 .chart-heading span {
	float:right;
	margin-top:16px;
}


.chart-heading {
	color:#fa6969;
	text-transform:uppercase;
	font-weight:bold;
}

.chart-heading.positive {
	color:#569b6a;
}

.chart-heading.neutral {
	color:#e8c567;  
}

.chart-heading span {
	color:#fff;
	font-weight:300;
	padding-left:10px;
}


.chart-side-label {
	
	font-family: "Open Sans", sans-serif;
}

.chart-label {
	
	font-family: "Open Sans", sans-serif;
}


/* cloud-table */

.cloud-table {
	
	font-family: "Open Sans", sans-serif;
}

.cloud {
	display:none;
}


/* keyword-stat  */

.keyword-stat {
	margin:0;
	padding:0;
	list-style:none;
}

.keyword-stat li {
	position:relative;	
	color: #aeb6bc;
    font-size: 24px;
    font-weight: 600;
	text-transform:uppercase;
    padding: 15px 20px;
    border-bottom: 1px solid #aeb6bc;;	
}

.keyword-stat li:last-child {
	border-bottom:none;
}

.keyword-stat li:after {
	font-family: fontawesome;
    content: "\f105";
    position: absolute;
    top: 36px;
    right: 20px;
    font-size: 16px;
    color: #fff;
}

.keyword-stat li span{
	display:block;	
	font-weight: normal;
	font-size: 16px;
    text-transform: uppercase;
    color: #fff;;
}


/* pager */

.pager {

	margin:0;
	text-align:left;
	color:#5e6c76;
	font-size:12px;
	
	
}


/* player */

.player {
    display: block;

}
.play {
    float: left;
    padding: 5px 8px;
    border: 1px solid #d0d0d0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,e7e7e7+100 */
    
    background: #fefefe;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #fefefe 0%, #e7e7e7 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #fefefe 0%, #e7e7e7 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #fefefe 0%, #e7e7e7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7', GradientType=0);
    /* IE6-9 */
    
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.play .fa-circle {
    color: red;
}
.player-slider {
    background: #ececec;
    padding: 10px;
    float: left;
    border: 1px solid #dbdbdb;
}
.bg-slider {
    position: relative;
    width: 100px;
    height: 10px;
    background: #e3f0f7;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
}
.slider {
    cursor: pointer;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    position: absolute;
    top: -3px;
    left: -2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,e2e2e2+54,c7c7c7+100 */
    
    background: #f6f6f6;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #f6f6f6 0%, #e2e2e2 54%, #c7c7c7 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #e2e2e2 54%, #c7c7c7 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #f6f6f6 0%, #e2e2e2 54%, #c7c7c7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#c7c7c7', GradientType=0);
    /* IE6-9 */
}
.play-time {
    float: left;
    padding: 5px 18px;
    border: 1px solid #cccccc;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,e7e7e7+100 */
    
    background: #fefefe;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #fefefe 0%, #e7e7e7 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #fefefe 0%, #e7e7e7 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #fefefe 0%, #e7e7e7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7', GradientType=0);
    /* IE6-9 */
}
.volume {
    float: left;
    padding: 5px 8px;
    border: 1px solid #cccccc;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,e7e7e7+100 */
    
    background: #fefefe;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #fefefe 0%, #e7e7e7 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #fefefe 0%, #e7e7e7 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #fefefe 0%, #e7e7e7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7', GradientType=0);
    /* IE6-9 */
}
.volume-slider {
    float: left;
    background: #ececec;
    padding: 10px;
   
    border: 1px solid #dbdbdb;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.download-voicemail {
    float: left;
    background: #ececec;
 	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	padding-left:10px;
    border: 1px solid #dbdbdb;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.bg-volume {
    position: relative;
    width: 70px;
    height: 10px;
    background: #e6e6e6;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
}
.volume-knob {
    cursor: pointer;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    position: absolute;
    top: -3px;
    left: 15px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+0,e2e2e2+54,c7c7c7+100 */
    
    background: #f6f6f6;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #f6f6f6 0%, #e2e2e2 54%, #c7c7c7 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #e2e2e2 54%, #c7c7c7 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #f6f6f6 0%, #e2e2e2 54%, #c7c7c7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#c7c7c7', GradientType=0);
    /* IE6-9 */
}



/* pagination */

.custom-pagination {
	
	margin:0;
	cursor:pointer;
	text-align:right;
	float:right;

}



.custom-pagination>li>a {	

	border: none;
	font-weight: 500 !important;
	color:#a4adb4;
    margin: 0 auto;
    font-weight: bold;
	padding:auto;
}

.custom-pagination>li:first-child>a, .custom-pagination>li:first-child>span {
	background-color:#e7eaec;
	
}

.custom-pagination>li:last-child>a, .custom-pagination>li:last-child>span {
	/*border:1px solid #c7cacc;*/
	background-color:#e7eaec;
}

.custom-pagination>.active>a, .custom-pagination>.active>a:focus, .custom-pagination>.active>a:hover, .custom-pagination>.active>span, .custom-pagination>.active>span:focus, .custom-pagination>.active>span:hover  {
	background: none;
    color: #4a4a4a;
    font-weight: 800 !important;
	border:1px solid #c7cacc;	
	padding-bottom:4px;
}

.custom-table>tbody>tr:hover {
	background: #dee0e0;
}



/* custom-table */

.custom-table {
    width: 100%;
    max-width: 100%;
	font-size:12px;
	
}
.custom-table thead {
    background: #697780;
    color: #fff;
	cursor:pointer;
}
.custom-table>tbody>tr>td,
.custom-table>tbody>tr>th,
.custom-table>tfoot>tr>td,
.custom-table>tfoot>tr>th,
.custom-table>thead>tr>td,
.custom-table>thead>tr>th {
    padding: 10px 10px;
    line-height: 1.42857143;
	font-weight: normal;
}
.custom-table th {
    border-bottom: 4px solid #697780;
}
.custom-table th.sort:hover {
    border-bottom: 4px solid #0ba1d6;
    cursor: pointer;
}
.custom-table th span {
    position: relative;
}

.table-actions {
	min-height: 55px;
	max-height: 55px;
}

/*
.custom-table th:hover span:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 5px;
    right: -15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #fff;
}
*/
.custom-table th:hover span:after {
	content: "--";
	 position: absolute;
	 top: -2px;
    right: -20px;
    font-family: fontawesome;
    content: "\f107"!important;
    color: #fff;
    font-size: 14px;
}

.custom-table>tbody>tr {
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
}
.custom-table>tbody>tr.active {
    background: #f5f5f5;
}

.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #fff;
}

.custom-table>tbody>tr.inactive {
    background: #f5f5f5;
}
.custom-table>tbody>tr i.status {
    width: 16px;
    height: 16px;
    background: #0efe07;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50px;
}
.custom-table>tbody>tr.inactive i.status {
    background: red;
}

.custom-table>tbody>tr>td.green {
	color:green;
	font-weight:bold;
}

.custom-table>tbody>tr>td.red {
	color:red;
	font-weight:bold;
}

.custom-table>tbody>tr>td.orange {
	color:orange;
	font-weight:bold;
}

.table-double-stripe tr {
    background: rgb(249, 249, 249)  !important;
}

.table-double-stripe tr:nth-child(4n+1), .table-double-stripe tr:nth-child(4n+2) {
    background: rgba(0, 0, 0, 0) !important;
}

.table-pager {
    color: #9b9b9b;
    float: right;
    margin-top: 10px;
}
.table-pager .btn-pagenav {
    border: 1px solid #c1cad1;
    color: #eee;
}

.mobile-table-little {
        overflow-y: scroll;
        max-height: 270px;
    }
@media (max-width: 662px) {

    .mobile-table {
        overflow-x: scroll;
        max-width: 662px;
    }
	
	    .mobile-table-little {
        overflow-x: scroll;
        max-width: 662px;
 
}
}
@media (max-width: 480px) {
    .table-pager {
        float: none;
        margin: 10px 0;
    }
}


.custom-table>tbody>tr:hover {
	background: #dee0e0;
}



/* little-table */

.little-table {
    width: 100%;
    max-width: 100%;
	font-size:12px;
	height:270px;
	
}
.little-table thead {
    background: #697780;
    color: #fff;
	cursor:pointer;
}
.little-table>tbody>tr>td,
.little-table>tbody>tr>th,
.little-table>tfoot>tr>td,
.little-table>tfoot>tr>th,
.little-table>thead>tr>td,
.little-table>thead>tr>th {
    padding: 10px 10px;
    line-height: 1.42857143;
	font-weight: normal;
}
.little-table th {
    border-bottom: 4px solid #697780;
}
.little-table th.sort:hover {
    border-bottom: 4px solid #0ba1d6;
    cursor: pointer;
}
.little-table th span {
    position: relative;
}

.little-table th:hover span:after {
	content: "--";
	 position: absolute;
	 top: -2px;
    right: -20px;
    font-family: fontawesome;
    content: "\f107"!important;
    color: #fff;
    font-size: 14px;
}

.little-table>tbody>tr {
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
}
.little-table>tbody>tr.active {
    background: #f5f5f5;
}


.little-table>tbody>tr.inactive {
    background: #f5f5f5;
}
.little-table>tbody>tr i.status {
    width: 16px;
    height: 16px;
    background: #0efe07;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50px;
}
.little-table>tbody>tr.inactive i.status {
    background: red;
}

.little-table>tbody>tr>td.green {
	color:green;
	font-weight:bold;
}

.little-table>tbody>tr>td.red {
	color:red;
	font-weight:bold;
}

.little-table>tbody>tr>td.orange {
	color:orange;
	font-weight:bold;
}


/* modal */

/* attention */

.box-attention {
    background: #efefef;
	padding: 2px 2px 0;
    border: 1px solid #cfcdcd;
	margin:0 auto;
    margin-bottom:20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	max-width:600px;
}

.box-attention-devices {
    background: #efefef;
	padding: 2px 2px 0;
    border: 1px solid #cfcdcd;
	margin:0 auto;
    margin-bottom:20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
	max-width:800px;
	
}

.box-title-attention {
    position: relative;
	text-align:left;
	font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background: #aeb6bc;
    padding: 18px 20px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.box-content-attention {
	color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	text-align:left;
	padding:50px;
	
}

.box-content-devices {
	color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	text-align:left;
	padding:40px;
	padding-top:20px;
	
	
}

.box-content-endpoints {
	color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	width:100%;
	padding-left:77px;
	padding-right:35px;
	padding-top:20px;
	padding-bottom:20px;

	
}


.attention {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    left: 0;
    bottom: 0;
    right: 0;
    display: table;
}


.attention-box{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	
	
}

.attention-center {
	width:500px;
	margin:0 auto;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.attention-header {
	background: #a4adb4;
    position: relative;
    padding: 10px;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.attention-header h4 {
	color:#5e6c76;
}

.attention-header i {
	position: absolute;
    top: 21px;
    right: 18px;
	color:#fff;
}



.attention-content h4 {
	margin-top:0;
	color:#302f2f;
}

.attention-content p {
	margin-bottom:0px;
}

.attention-footer {
	background: #efefef;
    padding: 20px;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.attention-footer .btn {
	margin-bottom:0px;
}


.att2, .action2 {
	display:none;
}



@media (min-width:1920px) {
	
	.left-section {
		width: 85.3%;
		float: left;
	}
	
	.full-section {
		width: 96.5%;
	}
	
}









/* Media Queries */

@media (max-width:1400px) {
	
	.checkbox-input-alone {
	
	padding-left:8%;
	padding-top:30px;
	color:#000;
	
}

}

@media (max-width: 992px) {} @media (max-width: 767px) {
	

	
    .one-half {
        width: 100%;
    }
    .one-half.first {
        border: none;
    }
    .full .form-group.large {
        max-width: 370px;
    }
	
	
	
	.header .top-logo-small {
	position: fixed;
    right: 18px;
    top: 22px;
	display:inline;
}

.header .top-logo{
	
	display:none;
}
}

@media (max-width: 1200px) {
	
	.center-btns {
	
	text-align:center;
	margin-left:-255px;
	
}
	
	
}


@media (max-width: 1114px) {
    .center-box {
        padding: 20px;
    }
	
	
	
.page-count {
		
	text-align:left;	
	
	left:0px;
		
	}
	
	.checkbox-input-alone {
	
	padding-left:0%;
	padding-top:30px;
	color:#000;
	
}
	
	.page-over {
		
	padding-left:0px;	
		
	}
	.custom-pagination>li>a {	

	
	padding:10px;
}



.custom-pagination>.active>a, .custom-pagination>.active>a:focus, .custom-pagination>.active>a:hover, .custom-pagination>.active>span, .custom-pagination>.active>span:focus, .custom-pagination>.active>span:hover  {
	background: none;
    color: #4a4a4a;
    font-weight: 800 !important;
	border:1px solid #c7cacc;	
	padding-bottom:8px;
}

}




@media (max-width: 992px) {
	
	
	
	#device-btn, #user-btn, #buy-btn, #add-number-btn, #filter, .long-line {
		
	display:none;	
		
		
	}
	
	
	#device-btn-mobile, #user-btn-mobile, #buy-btn-mobile {
		
	
	display:inline;

		
		
	}
	
	
	
	.sidebar-collapse {
		width:100%;
	}
	
	a.button-toggle-white {

	display:inline;
}

	
}

@media (max-width: 858px) {
	

	
	
	
	.side-content {
	
	display:none;
	
}

.callflow-content {

	top:150px;
	padding:0;
	width:100%;
}

#mobile-add {
	
	display:block;
	
	
}




#normal-add {
	
	display:none;
	
}

}

@media (max-width: 767px) {
	
	.box-content-tall {
	color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	height:480px;
	
	
}

.box-content-tall2 {
	color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	height:350px;
	font-family: "Open Sans", sans-serif;
	
	
}
	
	
	.center-btns {
	
	text-align:left;
	margin-left:0px;
	
}
	
	.custom-pagination {
	
	float:left;
	margin:0 auto;
	padding-top:10px;
	
	
	
	
}
	
	
.action-btns {
	
	text-align:right;
	
}
	
.top-padding-30 {
	
	padding-top:0px;
	
	
}


.header-search {
	font-weight: normal;
    display: inline;
    width: 100%;
	max-width: 283px;
    height: 30px;
	margin:0 auto;
    margin-bottom:10px;
	margin-top:10px;
	background: url(../images/inner_search.png) no-repeat 97% 7px;
	background-color:#fff;
    
}
   
   .form-group-inner {
	
	margin:0 auto;
	left:0px;

	top:20px;
	max-width:300px;
	
	
}

   .form-group-chart {
	
	padding-top:50px;
	
}



.inner-content {
    position: relative;
    padding: 190px 20px 20px 20px;
	
}

.inner-content-sub {
    position: relative;
    padding: 160px 20px 20px 20px;
}



   
    .center-box.padd-tb-50 {
        padding: 20px 20px;
    }
	
.top-btns {
	
	position:relative;
	top:0px;
	left:7px;
	text-align:left;
	margin-right:0px;
	margin-left:15px;
	padding-bottom:20px;
	float:none;
	padding-top:10px;
	   }
	   
	   .heading-title {
		width:100%; 
		padding-bottom:15px;  
		   
	   }
	   
	   .heading-label {
		width:100%;   
		   
	   }
	   
	   
	   .agent-info-list li {
	display: inline-block;
    font-weight: bold;
    color: #697781;
	padding-right:5px;
	font-size:12px;
	
}

.subnav {
	font-weight:600;
	color: #03a1d8;
	padding:0 5px 0 0;
	font-size:12px;
}

.subnav-active {
	font-weight:600;
	color: #4d5b65;
	padding:0 5px 0 0;
	font-size:12px;
}

.underline-active {
	
	border-top: 3px solid #03a1d8;

	width:45px;

}

.underline-active2 {
	
	border-top: 3px solid #03a1d8;

	width:40px;

}

.pager {
		display: block;
		
		text-align: right;
		
	}
	
	
	



}

@media (max-width: 480px) {
	
	
	.box-content-tall2 {
	color: #222;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	margin-bottom:2px;
	height:280px;
	font-family: "Open Sans", sans-serif;
	
	
}
	
	
	
	.center-btns {
	
	text-align:left;
	margin-left:0px;
	
}

	.device-info-list {
	
	padding-left:20px;
	
}
	
	.custom-pagination {
	
	float:left;
	text-align:left;
	width:110%;
	
	
}
	
	
	.box-content-endpoints {

	padding-left:30px;
	padding-right:20px;
	

	
}
	
	.agent-info {
	
    padding: 15px 1px;
	
	
}

.callflow-content {
	top:150px;
	padding-left:20px;
	padding-right:20px;
	width:100%;
}
    .stats {
        width: 100%;
        display: block;
    }
	
	    .center-box {
        width: 100%;
        padding: 20px;
    }
	
	.btn-red {
	
	padding: 10px 12px;
	
}
	.btn-red:hover {
	padding: 10px 12px;
}

	.btn-green {
	
	padding: 10px 12px;
	
}

	.btn-green:hover {
	padding: 10px 12px;
}

.btn-custom {
	
	padding: 10px 12px;
	
}
	.btn-custom:hover {
	padding: 10px 12px;
}

.btn-agent-info {
	
	padding: 10px 12px;
	
}
	.btn-agent-info:hover {
	padding: 10px 12px;
}


	.header .welcome {
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 20px;
    padding-left: 10px;
    max-height: 68px;
}

.pager {
		display: block;
		float: none;
		text-align: left;
		padding-top:55px;
		
	}
	
	


.custom-pagination>li>a {	

	border: none;
	font-weight: 500 !important;
	color:#a4adb4;
    margin: 0 auto;
    font-weight: bold;
	padding: 10px 17px;
	margin-top:-5px;

	
}

.custom-pagination>.active>a, .custom-pagination>.active>a:focus, .custom-pagination>.active>a:hover, .custom-pagination>.active>span, .custom-pagination>.active>span:focus, .custom-pagination>.active>span:hover  {
	background: none;
    color: #4a4a4a;
    font-weight: 800 !important;
	border:1px solid #c7cacc;	
	padding-bottom:9px;
	
}

.box-label {
	
	
	left:0px;
	
	
}

}

@media (max-width: 390px) {
    span.heading {
        font-size: 10px;
        padding-right: 10px;
    }
	
	
}

