/* Log-in Page */

.Absolute-Center {

	margin:auto;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height:60%;


}

.login {

	max-width:350px;
	margin:0 auto;


}


.big-shadow {

	-moz-box-shadow:    0px 0px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


.help {

	list-style:none;
	margin-left:-30px;
	font-size:12px;
	line-height:20px;

}

.login-body {
	background-color: #363636;
}


@media (max-width:767px)  {

	.Absolute-Center {

		height:100%;

	}


}
