.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.nav>li>a {
	padding: 7px 15px;
}

.one-third {
    width: 33%;
    float: left;
    padding: 10px 40px;
}

.bootstrap-tagsinput {
	display: block !important;
}

.bootstrap-tagsinput .tag.tagClass {
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
    color: white;
    background-color: #0097d2;
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.bootstrap-tagsinput .tag.tagClass [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .tag.tagClass [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.bootstrap-tagsinput .tag.tagClass [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag.tagClass [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  padding: 40px;
}

.pointer {
    cursor: pointer;
}

.top-breadcrumbs {
	margin-left: 0px;
	margin-top: -4px;
}

.bottom-header .right-section, .bottom-header .right-section a {
	color: #fff;
}

.panel-footer {
	background-color: #19a0d7;
	color: #fff;
}

div.dataTables_filter{
	float: left !important;
	text-align: left !important;
}

div.dataTables_length{
	float: right !important;
	text-align: right !important;
}

.top-breadcrumbs li:last-child a{
	font-weight: normal !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0px !important;
	margin-left: 0px !important;
}

table.dataTable.no-footer {
	border-bottom: 0px !important;
}

table.dataTable {
	margin-top: 0px !important;
}

.nav .btn-select {
	margin-bottom: 13px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #19a0d7 !important;
	border-color: #19a0d7 !important;
}

table.dataTable thead .sorting_asc {
	background-image: none !important;
	border-bottom: 4px solid #0ba1d6;
}

.big {
	display: inline-block;
}

div.dataTables_info {
	font-weight: bold;
	margin-bottom: 5px;
}

/* Sidebar Overrids */
.btn-icon {
	background: #363636;
}

.sidebar {
	background: #676666;
}

.side-header {
	background: #525252;
}

.sidebar-menu li.title {
	background: #252525;
	color: #787878;
}

.sidebar-menu > li {
	background: #676666;
	border-top: 1px solid #7c7b7b;
	border-bottom: 1px solid #363636;
}

.sidebar-menu li a {
	color: #a1a1a1;
}

.sidebar-menu li.active .sub-menu {
	background: #363636;
}

.sidebar-menu li.active .sub-menu li.active a {
	background: #a0001a;
}

.sidebar-menu li.selected .sub-menu {
	background: #363636;
}

.bottom-header {
	background: #363636;
	padding:10.5px 30px;
}

.top-header {
    padding: 22px 20px;
	min-height:81.5px;
}

/* Table Overrides */
.active_sort, .active_sort:hover {
	background-image: none !important;
	border-bottom: 4px solid #0ba1d6 !important;
}

.custom-table th.sort:hover {
	border-bottom: 0px;
}

div.dataTables_paginate ul.pagination {
	padding: 20px;
}

div.dataTables_filter input {
	border-radius: 4px;
}

select.input-sm {
	height: 29px !important;
}

@media (max-width:767px) {
	div.dataTables_info {
		text-align: left !important;
	}
}

/* Filters Override */
.filter-box-content input[type=radio]
{
	margin-left: 20px;
	margin-right: 5px;
}

.tooltip-inner {
    white-space:pre-wrap;
}

.dropdown-select  .btn-select {
	color:#ccc;
	font-size: 14px;
	width:100%;
	background:#fff;
	border:1px solid #ccc;
	text-align:left;
	background: #fff url(../images/select_arrow.png) no-repeat 97% 50%;
}

/* Select boxes override */
.dropdown-select .btn-select {
	color: #ccc;
	font-size: 14px;
	width: 50%;
	background: #fff;
	border: 1px solid #ccc;
	text-align: left;
	min-width: 160px;
	padding: 5px 5px;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	float: right;
	background: #fff url(../images/select_arrow.png) no-repeat 97% 50%;
}

.dataTables_length .btn-select {
	float: left;
	margin-right: 5px;
}

/* Model proper reset */
.modal-body {
	min-height: 0px !important;
}

/* Btn overrides */
.btn-generate {
	font-size: 14px;
}

.dt-buttons {
	margin: 20px;
}

.max-height-300 { max-height:300px; }


button.download {
	margin: 20px;
	color: #337ab7;
}

.icon-success { color:#5cb85c ; }
.icon-danger { color:#d9534f; }

.text-muted-2 { color:#dadada; }

.progress-slim { margin:0px; padding:0px; }
