



body {
	font-family: 'Open Sans', sans-serif;
	line-height:1.8em;
	background:#efefef;
	color:#5d5d5d;
}

h1,h2,h3,h4,h5,h6 {
	color:#697681;
	font-weight:bold;
}

hr {
	border-top: 1px solid #fff;
    border-bottom: 1px solid #dcdada;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	padding: 0px 5px 0px 0px;

}


.inner-content {

	margin-top:50px;
	margin-bottom:250px;


}

.ibm-logo {
	position:fixed;
	right:20px;
}


/* padding */

.padd-20 {
	padding:20px;
}

.padd-tb-30 {
	padding-top:30px;
	padding-bottom:30px;
}

.padd-lr {
	padding-left:30px;
	padding-right:30px;
}

.padd-l-30 {
	padding-left:30px;
}


.padd-b-20 {
	padding-bottom:20px;
}



/* default scrollbar  */

/*::-webkit-scrollbar {
    width: 10px;
	background:#fafafa;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
	border-radius:4px;
}*/




.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* buttons */

.icon-delete {
	color:#b3b3b3;
}

.icon-file {
	color:#179fdb;
}

.btn {
	font-size:12px;
	margin-bottom:5px;
}

.btn a {

	color:#FFFFFF;


}

.btn i {
	padding-left:5px;
}

.btn:focus {
	box-shadow:none;
}

.btn-icon {
	background: #354350;
    color: #fff;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    padding-left: 5px;
	font-size:18px;
	outline:none !important;
	border: 0;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn-icon:hover {
	background: #495f73;
	color: #fff;

	-moz-box-shadow:    0px 0px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.btn-icon:focus {

	color: #fff;
	-moz-box-shadow:    0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px rgba(0,0,0,0);

}


.btn-blue {
	background: #19a0d7;
    color: #fff;
    text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	min-width:120px;
}

.small {

	display:none;


}

.big {

	display:inline;

}

.btn-blue:hover {
	color:#fff;
	background:#30bff9;

	-moz-box-shadow:    0px 0px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.btn-blue:focus {
	color:#fff;
	background:#0392c3;
	-moz-box-shadow:    0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.btn-orange {
	background:#f8ad50;
	color: #fff;
    text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	min-width:120px;
}

.btn-orange:hover {
	color:#fff;
	background:#f9b96c;

	-moz-box-shadow:    0px 0px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.btn-orange:focus {
	color:#fff;
	background:#db9239;
	-moz-box-shadow:    0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.btn-red {
	background:#d03148;
	color: #fff;
    text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	min-width:120px;
}

.btn-red:hover {
	color:#fff;
	background:#ee4c63;

	-moz-box-shadow:    0px 0px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.btn-red:focus {
	color:#fff;
	background:#b22d40;
	-moz-box-shadow:    0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.btn-green {
	background:#4da896;
	color: #fff;
    text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	min-width:120px;
}

.btn-green:hover {
	color:#fff;
	background:#5bc5b0;

	-moz-box-shadow:    0px 0px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.btn-green:focus {
	color:#fff;
	background:#449383;
	-moz-box-shadow:    0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.btn-dark {
	background:#4d6e8f;
	color: #fff;
    text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	min-width:120px;
}

.btn-dark:hover {
	color:#fff;
	background:#5f88b3;

	-moz-box-shadow:    0px 0px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.btn-dark:focus {
	color:#fff;
	background:#395069;
	-moz-box-shadow:    0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.btn-outline {
	background: #fff;
    border: 1px solid #536b91;
    color: #536b91;
    text-transform: uppercase;
	min-width:120px;
}

.btn-outline:hover {
	color:#536b91;
	border:1px solid #fff;

	-moz-box-shadow:    0px 0px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.btn-inactive-top {
	background: transparent;
    border: 1px solid #536b91;
    color: #536b91;
    text-transform: uppercase;
	min-width:120px;
}

.btn-inactive-top:hover {
	background:transparent;
	color:#536b91;
}

.btn-inactive {
	background:#c1cbd4;
	color: #f2f2f2;
    text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	min-width:120px;
}

.btn-inactive:hover {
	color:#f2f2f2;
}


/* button btn-small */

.btn-small {
	padding: 2px 5px;
    min-width: auto;
}

/* btn-addon */

.btn-addon {
	font-size:14px;
	background: #19a0d7;
    color: #fff;
    text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.btn-addon i {
	padding:0;
}

.btn-addon:hover {
	color:#fff;
	background:#30bff9;
}





/* sidebar */

.sidebar {
    width: 290px;
    background: #273038;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 400;
	overflow-y:auto;
}

.sidebar-hide {
    width: 0;
    background: #273038;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 400;
}



/* sidebar-toggle */

.sidebar-toggle {
	font-size:18px;
	margin-right:15px;
	top: 20px;
}

@media (max-width:767px) {
	.sidebar-toggle {
		position:fixed;
		right:20px;
	}
}


@media (max-width:992px) {
	.sidebar {
		width:0;
	}
}



/* mobile-toggle */

.mobile-toggle {
	color:#fff;
	float:right;
	font-size:18px;
}

@media (min-width:992px) {
	.mobile-toggle {
		display:none;
	}
}










/* mobile-search */

.mobile-search {
	background: #1b2025;
    padding: 15px;
}

@media (min-width:320px) {
	.mobile-search {
		display:none;
	}
}


/* side-header */

.side-header {
	background: #33495f;
    padding: 22px 40px;
}



@media (max-width:767px) {
	.side-header {
		padding: 15px 35px 15px 20px;
	}

	.small {

		display:inline;
		min-width:0px;
		padding:8px 12px 8px 10px;
	}

	.big {

		display:none;


	}
}


/* sidebar-menu */

.sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-menu li.title {
	background: #1b2025;
    color: #4d5a65;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 40px;
}

.sidebar-menu > li {
	position:relative;
	background: #273038;
	border-top: 1px solid #242c33;
    border-bottom: 1px solid #3a434c;
}

.sidebar-menu li a {
    color: #8c969e;
	text-transform: uppercase;
	text-decoration:none;
    font-size: 14px;
    display: block;
    padding: 15px;
    border: none;
    font-weight: bold;
}

.sidebar-menu li a:hover {
	color:#fff;
	text-decoration:none;
}

.sidebar-menu li.active a {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
}

.sidebar-menu li a i {
    margin-right: 10px;
}

.sidebar-menu li a .badge {
    vertical-align: bottom;
    margin-left: 10px;
    background-color: red;
    width: 22px;
    height: 22px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    border-radius: 50%;
}


/* submenu */

.sidebar-menu li ul.sub-menu {
	display:none;
	list-style:none;
	padding:0;

}

.sidebar-menu li ul.sub-menu li a{
	padding-left:42px;
	text-transform:capitalize;
}






/* active state */

.sidebar-menu > li.active > a {
	color:#fff;
}

.sidebar-menu li.active .sub-menu {
	display:block;
	background:#1b2025;
}

.sidebar-menu li.active .sub-menu li.active a {
	background:#00a0db;
	color:#fff;
}



/* selected state */

.sidebar-menu > li.selected > a {
	color:#fff;
}

.sidebar-menu li.selected .sub-menu {
	background:#1b2025;
}



/* sub menu arrows */

.sidebar-menu  li.has-sub:after {
	position: absolute;
	right: 20px;
	top: 15px;
	height: 12px;
	width: 12px;
	text-align: center;
	line-height: 20px;
	font-family: fontawesome;
	content: "\f107"!important;
	color:#797878;
}



.sidebar-menu  li.has-sub.active:after {
	font-family: fontawesome;
	content: "\f106" !important;
	color: #fff;
}



/*
@media (max-width:800px) {
	.sidebar {
		width:100%;
	}
}

*/



/* main-content */

.main-content {
	margin-left: 290px;
    width: auto;
    height: 100%;
	padding-top: 140px;
}

.full-content {
	margin-left:0;
}




/* fixed-header */

.fixed-header {
	position:fixed;
	background:#fff;
	width:100%;
	z-index:10;
}

.fixed-header-wrapped {
	padding-left:290px;
}




/* top-header */

.top-header {
	position:relative;
    background: #fff;
    padding: 21px 20px;
}

.top-header .right-section {
	margin-right:45px;
}



/* bottom-header */

.bottom-header {
	position:relative;
	background: #354350;
    padding: 11px 30px;
    color: #fff;
}

.bottom-header .right-section{
	position:absolute;
	right:20px;
	top:12px;
}

.bottom-header .right-section .btn {
	margin-bottom:3px;
}

@media (max-width:767px) {
	.bottom-header {
		padding: 10px 15px;
	}
}


/* user */

.user {
	background: #242a3c;
	color:#fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    border-radius: 50px;
    border: 1px solid #242a3c;
}

.user:hover {
	border: 1px solid #fff;
}

.user-notif {
	position:relative;
	background: #242a3c;
	color:#fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    border-radius: 50px;
    border: 1px solid #242a3c;
}

.user-notif:hover {
	border: 1px solid #fff;
}

.user-notif i {
	color:#fff;
}

.user-notif .notif {
	background: red;
    color: #fff;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    line-height: 17px;
    font-size: 10px;
    display: inline-block;
    position: absolute;
}


/* daterange */

.daterange {
	margin-left:20px;
}

@media (max-width:767px) {
	.daterange {
		display:block;
		margin-left:0;
		font-size:12px;
	}
}



/* nav-top */

.nav-top {
	display: inline-block;
    background: #0da9e4;
    font-size: 20px;
	margin-top: 5px;
    color: #fff;
    padding: 0px 8px;
    line-height: 24px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.nav-top:hover {
	background:#60c6f2;
    color: #fff;
	-moz-box-shadow:    0px 0px 7px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 7px rgba(0,0,0,0.4);

}

.nav-top:focus {
	color:#fff;

	-moz-box-shadow:    0px 0px 0px rgba(0,0,0,0);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 7px rgba(0,0,0,0);
}

.nav-top.disabled {
	background:#aeb6bc;
}

.nav-top.disabled:hover {
	box-shadow:none;
}


/* top-breadcrumbs  */

.top-breadcrumbs {
	display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    vertical-align: middle;
    margin-top: -8px;
}

.top-breadcrumbs li {
	list-style:none;
	float:left;
	text-transform:uppercase;
	padding-right: 5px;
	font-weight:400;
}

.top-breadcrumbs li a {
	color:#555;
	text-decoration:none;
	font-weight:bold;
}

.top-breadcrumbs li:after {
	content:"/";
}

.top-breadcrumbs li:last-child:after {
	content:"";
}







/* user-section */

.user-section {
	background:#496072;
	color:#fff;
	padding: 30px 0;
	margin-top:-20px;
}

.user-section h3 {
	font-weight: bold;
    color: #7c94ae;
	margin:0;
	margin-bottom:10px;
}

.user-section .btn {
	margin-bottom:5px;
}

.user-section span {
	font-size:11pt;
}


/* nav-pager */

.nav-pager {
	position:relative;
}

.nav-pager a {
	font-size: 24px;
    color: #fff;
}

.nav-pager a:hover {
	color:#19a0d7;
}

.nav-pager a.disabled {
	color:#5d768c;
	cursor: not-allowed;
}

.nav-pager .nav-left {
	position: absolute;
    top: -74px;
    left: 15px;
}

.nav-pager .nav-right {
	position: absolute;
    right: 15px;
    top: -74px;
}


@media (max-width:767px) {
	.user-section {
		    padding: 30px 30px;
	}

	.user-section span {
	font-size:9pt;
}

	.nav-pager .nav-left {
		left:-15px;
	}

	.nav-pager .nav-right {
		right:-15px;
	}
}


/* box for table */
.box {
    background: #efefef;

    border: 1px solid #cfcdcd;
    margin: 0 auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;


}

.custom-table>tbody>tr:hover {
	background: #e3f0f6;
}



/* custom-table */

.custom-table {
    width: 100%;
    max-width: 100%;
	font-size:12px;
	background:white;

}
.custom-table thead {
    background: #e5e5e5;
    color: #5d5d5d;
	cursor:pointer;
	font-size:13px;
	border-bottom: 1px solid #ccc;

}
.custom-table>tbody>tr>td,
.custom-table>tbody>tr>th,
.custom-table>tfoot>tr>td,
.custom-table>tfoot>tr>th,
.custom-table>thead>tr>td,
.custom-table>thead>tr>th {
    padding: 10px 15px;
    line-height: 1.42857143;
	font-weight: normal;
}

.custom-table th.sort:hover {
    border-bottom: 4px solid #0ba1d6;
    cursor: pointer;

}


.custom-table th span {
    position: relative;
	font-weight:bold;
}

.table-actions {
	min-height: 55px;
	max-height: 55px;
}

/*
.custom-table th:hover span:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 5px;
    right: -15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #fff;
}
*/
.custom-table th:hover span:after {
	content: "--";
	 position: absolute;
	 top: -1px;
    right: -15px;
    font-family: fontawesome;
    content: "\f107"!important;
    color: #5d5d5d;
    font-size: 14px;
}

.custom-table>tbody>tr {
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
}
.custom-table>tbody>tr.active {
    background: #f5f5f5;
}

.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #fff;
}

.custom-table>tbody>tr.inactive {
    background: #f5f5f5;
}
.custom-table>tbody>tr i.status {
    width: 16px;
    height: 16px;
    background: #0efe07;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50px;
}
.custom-table>tbody>tr.inactive i.status {
    background: red;
}

.custom-table>tbody>tr>td.green {
	color:green;
	font-weight:bold;
}

.custom-table>tbody>tr>td.red {
	color:red;
	font-weight:bold;
}

.custom-table>tbody>tr>td.orange {
	color:orange;
	font-weight:bold;
}

.mobile-table-little {
        overflow-y: scroll;
        max-height: 270px;
    }

  .mobile-table {

         overflow-x: visible !important;
  		overflow-y: visible !important;
    }

@media (max-width: 662px) {

    .mobile-table {

        max-width: 662px;
		overflow-x:scroll !important;
		overflow-y:scroll !important;
    }

	    .mobile-table-little {
        overflow-x: scroll;
        max-width: 662px;

}
}

.box-title {
    position: relative;
	font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background: #aeb6bc;

    padding: 18px 20px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


/* box-container */

.box-container {
	max-width: 100%;
    margin: 0 auto;
	clear:both;
}


.full {
	width:100%;
	padding: 10px 40px;
}

.one-half {
	width:50%;
	float:left;
	padding: 10px 40px;
}



@media (min-width:1366px) {
	.box-container {
		max-width:1170px;
		margin:0 auto;
	}
}

@media (max-width:767px) {
	.full, .one-half {
		width:100%;
		float:none;
		padding: 10px 15px;
	}
}






.v-center-parent {
	display:table;
	width:100%;
	height:100px;
}

.v-center {
	display: table-cell;
  text-align: center;
  vertical-align: middle;
}






/* agent-details */

.agent-list {
	background:#5d768c;
	border-top:1px solid #33485b;
	border-bottom:1px solid #33485b;
}

.agent-details {
	background:#5d768c;
	margin:0;
	padding:0 40px;
	max-width: 1170px;
    margin: 0 auto;
}

.agent-details li {
	list-style: none;
    float: left;
    background: #53697e;
    border-right: 1px solid #5f758a;
}

.agent-details li  a {
	color: #87a1b8;
    padding:10px 15px;
    display: block;
	text-decoration:none;
}

.agent-details li  a:hover {
	text-decoration:none;
	color:#fff;
}

.agent-details li.active {
	background:#384a58;
}

.agent-details li.active a{
	color:#fff;
}


@media (max-width:767px) {

	.agent-details {
		padding:0;
	}
	.agent-details li{
		position:relative;
		float:none;
		border-bottom:1px solid #33485b;
	}

	.agent-details li  a {
		padding:10px 15px;
	}

	.agent-details li.sub{
		display:none;
	}

	.agent-details li.active {
		display:block;
	}

	.agent-details li.active:after {
		position: absolute;
		right: 20px;
		top: 15px;
		height: 12px;
		width: 12px;
		text-align: center;
		line-height: 20px;
		font-family: fontawesome;
		content: "\f107"!important;
		color:#797878;
	}

	.agent-details li.active.sub:after {
		font-family: fontawesome;
		content: "\f106"!important;
	}

}


/* Step List non-modal */

.step-list {
	background:#5d768c;
	border-top:1px solid #33485b;
	border-bottom:1px solid #33485b;
	margin-left:-40px;
}

.step-details {
	background:#5d768c;
    margin: 0 auto;
}

.step-details li {
	list-style: none;
    float: left;
	text-align:center;
	width:16.66%;
	font-size:12px;
    background: #53697e;
    border-right: 1px solid #5f758a;
}

.step-details li  a {
	color: #87a1b8;
    padding:10px 0;
    display: block;
	text-decoration:none;
}

.step-details li  a:hover {
	text-decoration:none;
	color:#fff;
}

.step-details li.active {
	background:#384a58;
}

.step-details li.active a{
	color:#fff;
}


@media (max-width:767px) {

	.step-list {

	margin-left:0px;
}

	.step-details {
		padding:0;
	}
	.step-details li{
		position:relative;
		float:none;
		width:auto;
		text-align:left;
		border-bottom:1px solid #33485b;
	}

	.step-details li  a {
		padding:10px 15px;
	}

	.step-details li.sub{
		display:none;
	}

	.step-details li.active {
		display:block;
	}

	.step-details li.active:after {
		position: absolute;
		right: 20px;
		top: 15px;
		height: 12px;
		width: 12px;
		text-align: center;
		line-height: 20px;
		font-family: fontawesome;
		content: "\f107"!important;
		color:#797878;
	}

	.step li.active.sub:after {
		font-family: fontawesome;
		content: "\f106"!important;
	}

}




/* custom-tabs */

.custom-tab-box {
	background:#5d768c;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.custom-tab{
	background:#5d768c;
	margin:0;
	padding:0;
	border-bottom:1px solid #33485b;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.custom-tab li {
	list-style: none;
    float: left;
    background: #53697e;
    border-right: 1px solid #5f758a;
}

.custom-tab li:first-child {
	border-radius: 4px 0px 0px 0px;
	-moz-border-radius: 4px 0px 0px 0px;
	-webkit-border-radius: 4px 0px 0px 0px;
}

.custom-tab li  a {
	color: #87a1b8;
    padding:10px 15px;
	font-size:13px;
    display: block;
	text-decoration:none;
}

.custom-tab li  a:hover {
	text-decoration:none;
	color:#fff;
}

.custom-tab li.active {
	background:#384a58;
}

.custom-tab li.active a{
	color:#fff;
}


@media (max-width:767px) {

	.custom-tab {
		padding:0;
	}
	.custom-tab li{
		position:relative;
		float:none;
		border-bottom:1px solid #33485b;
	}

	.custom-tab li  a {
		padding:10px 15px;
	}

	.custom-tab li.sub{
		display:none;
	}

	.custom-tab li.active {
		display:block;
	}

	.custom-tab li.active:after {
		position: absolute;
		right: 20px;
		top: 15px;
		height: 12px;
		width: 12px;
		text-align: center;
		line-height: 20px;
		font-family: fontawesome;
		content: "\f107"!important;
		color:#797878;
	}

	.custom-tab li.active.sub:after {
		font-family: fontawesome;
		content: "\f106"!important;
	}

}




.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}



.overall {

	background:#e1dfdf;

}




/* tab-box */

.tab-box {
	margin-bottom:20px;
}

.tab-box-header {
	background: #f5f5f5;
    padding: 15px;
	border:1px solid #ccc;
}

.tab-box-content {
	background:#fff;
	border:1px solid #ccc;
	border-top:none;

	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.tab-box-content textarea {
	border:1px solid #fff;
}

.tab-box-content-headless {
	background:#fff;
	border:1px solid #ccc;


	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.tab-box-content-headless textarea {
	border:1px solid #fff;
}



/* section-header */


.section-header  {

}

.section-header  h2{
	margin-bottom:5px;
}

.section-header  p {
	margin-bottom:0;
}







/*********************************
		FORMS
**********************************/


/* placeholder */

.form-control, .form-control:focus {
	box-shadow:none;
	font-size: 14px;
}

.form-control::-webkit-input-placeholder { color: #ccc; }
.form-control:-moz-placeholder { color: #ccc; }
.form-control::-moz-placeholder { color: #ccc; }
.form-control:-ms-input-placeholder { color: #ccc; }


/*  forms info   */


.has-error label i {
	color:red;
}

.has-error .form-control {
	border-color:red;
}


/* dropdown-select */

.dropdown-select {
	width:100%;
}

.dropdown-select  .btn-select{
	color:#ccc;
	font-size: 14px;
	width:100%;
	background:#fff;
	border:1px solid #ccc;
	text-align:left;
	background: #fff url(../images/select_arrow.png) no-repeat 97% 50%;
}

.dropdown-select .dropdown-menu {
	top: -3px;
    width: 100%;
	border-color:#66afe9;
	padding-bottom:0;
}

.dropdown-select .dropdown-menu .sort {
	background:#dedede;
	text-align:center;
}

.dropdown-select .dropdown-menu li a:hover{
	background:#66afe9;
	color:#fff;
}


/* dropdown-select2 */

.dropdown-select2 {
	width:100%;
}

.dropdown-select2  .btn-select{
	width: auto;
    padding: 0;
    padding-right: 25px;
    text-align: left;
    background: transparent url(../images/select_arrow.png) no-repeat 97% 50%;
	margin:0;
}

.dropdown-select2 .dropdown-menu {
	top: -3px;
	left:-50px;

	border-color:#66afe9;
	padding-bottom:0;
}

.dropdown-select2 .dropdown-menu .sort {
	background:#dedede;
	text-align:center;
}

.dropdown-select2 .dropdown-menu li a:hover{
	background:#66afe9;
	color:#fff;
}


.dropdown-check {

	list-style:none;
	margin-top: 10px;

}



.dropdown-checkbox {
  position: relative;
	 right:100%;
}


.dropdown-checkbox-toggle {

	color:#19a0d7;
	text-align:left;


}
.dropdown-checkbox.dropdown.open .caret {
  border-top-color: black !important;
}
.dropdown-checkbox .dropdown-checkbox-content {
  display: none;
  position: absolute;
  background: white;
  z-index: 1000;
  top: -69%;
  left:-50%;
	width:450px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  border-top: 1px solid #777777;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown-checkbox .dropdown-checkbox-content li .layout {
  padding: 0px 10px;
}
.dropdown-checkbox .dropdown-checkbox-content li .layout:hover {
  background: #337ab7;
  color: white;
  cursor: pointer;
}
.dropdown-checkbox .dropdown-checkbox-content li .layout input[type=checkbox] {
  float: left;
  height: 25px;
  margin: 0;
  outline: none;
  padding: 0;
}
.dropdown-checkbox .dropdown-checkbox-content li .layout label {
  display: block;
  white-space: nowrap;
  line-height: 25px;
  padding-left: 30px;
  margin-bottom: 0px;
  height: 25px;
  font-weight: 500;
}
.dropdown-checkbox .dropdown-checkbox-content .maxitems {
  margin: 0;
}
.dropdown-checkbox.open .dropdown-checkbox-content {
  display: block;
}
.dropdown-checkbox .dropdown-checkbox-header {
  min-width: 245px;
  background-color: #19a0d7;
  padding: 10px 20px;
  		-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.dropdown-checkbox .dropdown-checkbox-header .search {
  margin-left: 10px;
	width:85%;

}
.dropdown-checkbox .dropdown-checkbox-header .checkbox-all {
  margin-right: 10px;


}
.dropdown-checkbox ul.dropdown-checkbox-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 5px 10px 5px 10px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: visible;
}
.dropdown-checkbox ul.dropdown-checkbox-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width:767px) {


	.dropdown-checkbox .dropdown-checkbox-content {


  	left:-200%;
	width:320px;

}
}

/* custom-select */

.custom-select {
	margin-bottom:10px;
	overflow: hidden;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url(../images/select_arrow.png) no-repeat 97% 50%;
	border: 1px solid #cdcdcd;
}

.custom-select-dark {
	color:#fff;
	overflow: hidden;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #415465 url(../images/select_arrow_white.png) no-repeat 97% 50%;
	border: 1px solid #33485b;
}


/* custom-checkbox  */

.checkbox.custom-checkbox {
	margin:0 0 5px 0;
}

.checkbox.custom-checkbox label {
    padding-left: 20px;
}
.custom-checkbox input[type="checkbox"] {
    display: none;

}
.custom-checkbox input[type="checkbox"] + span {
    padding-left: 10px;
}
.custom-checkbox input[type="checkbox"]+ span:before {
    content: url("../images/custom_check.png");
    position: absolute;
    top: 3px;
    left: 0;
}
.custom-checkbox input[type="checkbox"]:checked + span:before {
    content: url("../images/custom_checked.png");
    position: absolute;
    top: 3px;
    left: 0;
}

/* custom-radio  */

.radio.custom-radio {
	margin:0 0 5px 0;
}

.radio.custom-radio label {
    padding-left: 20px;
}
.custom-radio input[type="radio"] {
    display: none;

}
.custom-radio input[type="radio"] + span {
    padding-left: 10px;
}
.custom-radio input[type="radio"]+ span:before {
    content: url("../images/radio.png");
    position: absolute;
    top: 1px;
    left: 0;
}
.custom-radio input[type="radio"]:checked + span:before {
    content: url("../images/radio_checked.png");
    position: absolute;
    top: 1px;
    left: 0;
}


/* table-header */

.table-header {
	background:#ededed;
	width:100%;
	min-width:100%;
	border-bottom: 1px solid #ccc;
}

.table-header th {
	padding: 5px 15px;
	font-size:13px;
}


/* table-default */

.table-default {
	width:100%;
}

.table-default tr  {
	border-bottom:1px solid #ccc;
}

.table-default tr:hover {
	background-color:#e3f0f6;
}

.table-default  td {
	padding:5px 15px;
}

.table-default.no-border tr{
	border:none;
}


/* custom-upload */

.custom-upload {
    padding-bottom: 25px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    border: 1px solid #d7d9da;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.custom-upload #upload {
    display: none;
}
.custom-upload #upload_link {
	text-decoration:none;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ebebed;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #000;
}


/* user-upload */

.user-upload {
	background: #e8e8ea;
    padding: 10px;
    border: 1px solid #d7d9da;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}
.image-upload {
    position: relative;
}
.image-upload img {
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.image-upload #upload {
    display: none;
}
.image-upload #upload_link {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    padding: 2px 0;
    color: #000;
	text-decoration:none;
}
@media (max-width: 480px) {
    .user-upload {
        float: none;
        display: inline-block;
    }
}



/* tool-tip */

.tool-tip {
	margin-left:5px;
	position:relative;
	width: 20px;
    height: 20px;
    background: #13a4d9;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 50px;
	z-index:8;
}

.tool-tip i {
	font-size:12px;
}

.tool-tip-info {
	font-size:12px;
    position: absolute;
    top: -12px;
    left: 38px;
    background: #151515;
    width: 145px;
    word-wrap: break-word;
    display: block;
    padding: 5px 10px;
    text-align: left;
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display:none;
}


.tool-tip-info:after {
	content: '';
    position: absolute;
    left: -7px;
    top: 15px;
    width: 0;
    height: 0;
    border-right: 12px solid #151515;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    clear: both;
}

.tool-tip:hover .tool-tip-info {
	display:block;
}


/* panel-box */

.panel-box {
	border:1px solid #ccc;
	background:#fff;
/*	min-height: 373px; */
	margin-bottom:20px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.panel-box-header {
	background:#ededed;
	padding: 15px;
	border-bottom:1px solid #ccc;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}





/* scorecardbox */

.score-box {
	border:1px solid #ccc;
	background:#fff;
/*	min-height: 373px; */
	margin-bottom:20px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}






/* height-scroll */

.height-scroll {
	height: 300px;
    overflow-x: hidden;
}



/* tag-box */

.tags-box {
    width: 100%;
    height: 130px;
    border: 1px solid #ccc;
    padding: 5px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.tagssssss {
	background: #0da9e4;
    color: #fff;
    padding: 2px 5px;
	margin: 2px;
	cursor: pointer;

    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

#tags{
  border:1px solid #ccc;
  padding:5px;
  min-height:130px;
  -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#tags > span{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  font-weight:bold;
  background:#0da9e4;
  padding:2px 5px;
  padding-right:25px;
  margin:4px;
  -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#tags > span:hover{
  opacity:0.7;
}
#tags > span:after{
 position:absolute;
 content:"×";
 margin-left:10px;
 font-weight:bold;
}
#tags > input{
  border:0;
  margin:4px;
  width:260px;
}


/* accordion */

.panel-group .panel-heading {
  position: relative;
    background:#f5f5f5;
    padding: 0;
    margin: 0;
    border: none;
	}

.tall {

	margin-bottom:200px;

}
.panel-heading h1 {


	font-size:12px;
	font-weight: normal;
	margin-top:10px !important;
	margin-bottom:8px !important;
	margin-left:2px;



}
.panel-heading h2 {

	font-size: 22px;
	display:inline;
	margin-top:0 !important;
	margin-bottom:0 !important;

}

.panel-group .panel-heading a {
    position: relative;
    display: block;
    padding: 5px 10px;
    color: inherit;
    text-decoration: none;

}

.panel-group .panel-heading .collapsed {
	background:#fff;
}

.panel-default {
	border:none;
	border-bottom:1px solid #ccc;
}

.panel-body {
	background:#efefef;
	padding:0 !important;
}

.panel-group .panel+.panel {
	margin-top:0px;
}

.panel-group .panel-heading a:after {
        position: absolute;
    right: 10px;
    top: 40%;
    height: 20px;
    width: 20px;
    content: "\f106";
    text-align: center;
    line-height: 20px;
    font-family: FontAwesome;
    color: #555;
	}

    .panel-group .panel-heading .collapsed:after {
      font-family: FontAwesome;
      content: "\f107" !important; }



/* feedback-list */

.feedback-list {
	padding: 20px;
    border-bottom: 1px solid #ccc;
}

.feedback-list strong {
	color:#222;
}

.feedback-list  .fb-datetime {
	font-size:12px;
}

.feedback-list .time {
	color:#20a2e0;
	font-weight:bold;
}


/* scorecard */

.scorecard {
	padding:10px 15px;
	clear:both;
	border-bottom:1px solid #ccc;
}

.scorecard h6, .scorecard h3, .scorecard p, .scorecard .btn  {
	margin:0;
}



.scorecard  .sc-left {
	position:relative;
	float:left;
	width:60%;

}

.sc-left span {

	margin-left:2px;


}

.panel-heading .sc-left {

	width:60%;
	margin-bottom:10px;

}

.scorecard  .sc-right, .panel-heading .sc-right {
	float:right;

}

.bg-gray {
	background:#f1f1f1;
}

.scorecard .input-group {
	margin:10px 0;
	max-width:500px;
}

.comment-icon {

    left: 0px;
    top: 0;
}

.score {
	text-transform:uppercase;
	color:#697681;
	display:block;

}


@media (max-width:767px) {

	.scorecard  .sc-right {
	float:left;

}

	.sc-left {

		width:75% !important;
		padding-bottom:10px;

	}



	.dropdown-checkbox-content {


  	left:-200%;
	width:320px;

}
}



/* agent-box */

.agent-box {

}

.agent-overview {
	float: left;
    width: 50%;
    min-height: 219px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.agent-overview .name{
	color:#222;
	font-weight:bold;
}

.agent-overview .name span{
	color:#19a0d7;
}


/* sentiment */

.sentiment {
	background:#4c5a65;
	padding:20px;
	float: left;
    width: 50%;
    min-height: 219px;

	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.sentiment h5 {
	color:#fff;
	text-transform:uppercase;
	margin-top:0;
}

.sentiment-label {
	color:#fff;
	font-weight:bold;
	font-size:12px;
}

.sentiment-label .positive {
	color:#569a6b;
}

.sentiment-label .negative {
	color:#fb646b;
}


@media (max-width:430px) {
	.agent-overview,.sentiment {
		float:none;
		width:100%;
		height:auto;
	}
}



/* custom-progress */

.custom-progress {
	height: 6px;
	width:100%;
    background: #fff;
	margin-bottom: 10px;
}

.progress-positive {
	background:#579c6f;
}

.progress-negative {
	background:#fb646b;
}




/* colors */

.red {
	color:red;
}

.blue {
	color:#19a0d7;
}

.green {

}

.number {
	color:#85d3a1;
}

.number i {
	font-size: 12px;
    padding-right: 10px;
}

.help {
	color:#f1ae57;
}

.help i {
	font-size: 12px;
    padding-right: 10px;
}

.hello {
	color:#f6637f;
}

.hello i {
	font-size: 12px;
    padding-right: 10px;
}

.thanks {
	color:#8c80ca;
}

.thanks i {
	font-size: 12px;
    padding-right: 10px;
}

.booking {
	color:#19afe9;
}

.booking i {
	font-size: 12px;
    padding-right: 10px;
}



@media (max-width:478px) {
	.mb-pull-right {
		float:none !important;
		display:block;
	}


}

@media (max-width:991px) {

		.pull-right {
    float:none !important;
}




}


/* modal */


.modal-header {
    padding: 15px;
    border: 1px solid #ccc;
    background: #35434e;

	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-header .close {
	font-size: 36px;
    font-weight: bold;
	color: #b2b6b7;
	opacity:1;
	text-shadow:none;
	margin-top: -7px;
}

.modal-title {
	color:#fff;
	text-transform:uppercase;
}

.modal-content {
	background-color:#efefef;
}

.modal-body {
	border-bottom: 1px solid #fcfcfc;
	min-height: 388px;
}

.modal-footer {
	border-top: 1px solid #dbdbdb;
	text-align:left;
}

.modal-footer .btn+.btn {
	margin-bottom:5px;
}


.modal-steps {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.steps-list {
	padding:0;
	margin:0;
	list-style:none;
	    background: #53697e;
}

.steps-list li{
	float: left;
    border-right: 1px solid #5f758a;
    width: 16.65%;
    text-align: center;
}

.steps-list li a{
	color: #87a1b8;
    padding:10px 15px;
    display: block;
	text-decoration:none;
}

.steps-list li  a:hover {
	text-decoration:none;
	color:#fff;
}

.steps-list li.active {
	background:#384a58;
}

.steps-list li.active a{
	color:#fff;
}




@media (min-width: 768px) {
	.modal-dialog {
		width: 800px;
		margin: 100px auto;
	}



}




/* modal-box */

.modal-main {
	position: absolute;
    background: rgba(0,0,0,0.75);
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
	display:none;
}

@media (min-width:768px) {

	.modal-box {
		width: 540px;
		margin: 100px auto;
	}

	.modal-small {
		width:420px;
	}

}

.modal-box {
	padding:20px;
}



.modal-box-header {
	position:relative;
	background:#35434e;
	text-align:center;
	padding: 50px 0 20px 0;
	border:1px solid #c2c6c9;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.modal-box-header .icon {
	font-size:51px;
	color:#ccc;
}

.modal-box-header .icon .green {
	color:#4da896;
}

.modal-box-header h4 {
	text-transform: uppercase;
    color: #f2f2f2;
}

.close-modal {
	color: #ccc;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.modal-box-content {
	background-color:#efefef;
	padding:20px;
	text-align:center;
	min-height: 220px;

	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.modal-box-content h5 {
	color:#555;
	margin-bottom:15px;
}

.modal-box-content .form-control {
	max-width: 390px;
    margin: 15px auto;
}



.close-modal:hover {
	color:#fff;
}


@media (max-width:420px) {
	span.pull-right {
		float:none !important;
		display:block;
	}



}
